
/* Helios Demo Styles
================================================== */

	/* Page Fonts - Raleway and Playfair */
	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i,900i|Roboto:300,400,900');
	/* Body Options */
	body{ font-family: 'Roboto', sans-serif; font-weight: 300; letter-spacing: 0px;}
	body *{outline:none;}

/* Helios COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#eec819 !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#eec819 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#eec819 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#ebb600 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#ebb600 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#ebb600 !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#8d6d43 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#8d6d43 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#8d6d43 !important; }

	::selection{ background-color:#eec819 !important; }

	.bg-gradient,
	.bg-soft-gradient:before{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eec819+0,3778c3+100 */
		background: #eec819; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #eec819 0%, #fdd625 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #eec819 0%,#fdd625 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #eec819 0%,#fdd625 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eec819', endColorstr='#fdd625',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.bg-gradient1,
	.bg-soft-gradient1:before{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d5ec0+0,3778c3+100 */
		background: #3778c3; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #6d5ec0 0%, #3778c3 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #6d5ec0 0%,#3778c3 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #6d5ec0 0%,#3778c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d5ec0', endColorstr='#3778c3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.bg-gradient2,
	.bg-soft-gradient2:before{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f4133+0,375476+100 */
		background: #4f4133; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #4f4133 0%, #375476 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #4f4133 0%,#375476 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #4f4133 0%,#375476 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4133', endColorstr='#375476',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.bg-soft-gradient2:before{
		opacity: 0.97;
	}

/* Other Colors */

	/* Slider pagination borders on twin sections */
	.twin-sections .slider-nav .slick-slide:hover,
	.twin-sections .slider-nav .slick-slide.slick-current{
    	border-color:rgba(248,184,100,0.5);
    }
    /* Sliding hover type, background color */
    .qdr-hover:before,
    /* About Image Slider pagination */
    #about .item .slick-dots li.slick-active button,
    /* About item slider dots colors */
    #about .box-slider > .slick-dots li.slick-active button,
    /* Categories button hover color */
    .categories-parallax-type .item:hover .container .ctg-button,
    /* Team navigation */
    #team .slick-dots li.slick-active button{
    	background-color:#eec819;
    }

	.extrabold-title{font-weight: 900; letter-spacing: -1.6px;}
	.extrabold-subtitle{font-weight: 900; letter-spacing: -0.5px;}
		/* According letter spaces to mobile screens */
		@media only screen and (max-width: 641px){
			.extrabold-title{ letter-spacing: -0.2px;}
			.extrabold-subtitle{ letter-spacing: -0px;}
		}

	.qdr-hover-5:before{ background-color:#ccc; }


/* HELIOS VERSION MAIN STYLES
================================================== */

/* HELIOS NAVIGATION */
	/* Navigation Colors - hover and active */
	#navigation.modern .columns ul li a:hover,
	#navigation.modern.scrolled .columns ul li a:hover,
	#navigation.modern .columns ul.nav > li.active > a{
		color:#eec819 !important;
	}
	/* Navigation styles - You can see navigation hover and active colors in the content/helios/css/style.css file. */
	#navigation.modern .columns ul li a,
	#navigation.modern .columns ul li button{ font-size:12px; font-weight: 900; }
	#navigation.modern.white-nav.scrolled .columns .nav-menu>.nav>li>a{ color:#616161; }
	/* Mega menu and dropdown styles */
	#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu.mega-menu li a{ font-size: 13px; letter-spacing: 0px; font-weight: 500;  }
	#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu li a{ font-size: 13px; font-weight: 500; letter-spacing: 0px; }




/* HELIOS TITLES */
	.page-title{ color:#414141; font-size:30px; font-weight: 900; letter-spacing: -1px; text-transform: none; padding:0; margin:0 0 13px 0; }
	.page-title.light-title{ color:#d5d5d5; }
	.description{ color:#696868; line-height: 26px; font-size:14px; padding:0; margin:15px auto 0; }
	.description.light-title{ color:#d1d1d1; }
		@media only screen and (max-width: 960px){
			.description{max-width: 95% !important;}
		}
		@media only screen and (max-width: 640px){
			.page-title{ font-size:23px; margin:0 0 15px 0; }
		}





/* HELIOS HOME */
	#home .text-strip{ background-color:#a2a2a2; opacity: 0.8; }
		/* Media screen for home */
		@media only screen and (max-width: 480px){
			#home .text-strip{display: none;}
		}
	/* Page Note */
	#home .page-note{ top: -105px; z-index: 100; position: relative; }
	#home .page-note .left-note{ border-left:3px solid; line-height: 22px; font-size:12px; font-weight: 900; max-width: 250px; padding:0 0 0 40px; float:left; position: relative; }
	#home .page-note .home-socials{ float:right; position: relative; top:20px; padding-right: 40px; }
	#home .page-note .home-socials a{ width: 30px; font-size:16px; margin-right: 10px; height: 33px; border:1px solid transparent; background:transparent; opacity: 0.7; display: inline-block; text-align: center; line-height: 32px; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	#home .page-note .home-socials a:hover{ border-color:rgba(255,255,255,0.2); background-color:rgba(165,165,165,0.2); }
	#home .page-note .home-socials a:last-child{ margin-right: 0; }
	/* Media screen for Page Note */
	@media only screen and (max-width: 560px){
		#home .page-note .left-note,#home .page-note .home-socials{padding:0 !important; float: none; margin:0 auto; text-align:center; border:none; top:0 !important;}
		#home .page-note{top:-90px;}
		#home .tp-bullets.uranus{ display: none !important; }
	}
	@media only screen and (max-height: 560px){
		#home .page-note .left-note{margin-top:25px;}
	}





/* HOME CONTENT */
	#home-content{ position: relative; z-index: 5; }
	.home-content{ top:0; width: 100%; height: auto; padding:14px 10px; border-radius: 100px; max-width: 1170px; margin:0 auto; display: block; text-align: center; box-shadow: 2px 20px 75px 5px rgba(0,0,0,0.13); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }







/* HELIOS ABOUT */
	#about .image-boxes .item .title{ font-size:15px; text-transform: uppercase; font-weight: 900; color:#414141; margin-top:25px; }
	#about .image-boxes .item .desc{ color:#666; font-size: 14px; font-weight: 300; letter-spacing: 0; }
	#about .strip-btn{ background-color:#aaa; }








/* TWIN SECTIONS */
	.twin-sections>div{ height: auto; overflow: hidden; min-height: 650px;}
	.twin-sections .halfwidth>.details{ position: relative; max-width: 700px; padding:0 15px; margin:0 auto; top:50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
	.twin-sections .slider-nav{ position: absolute; bottom: 0; width: 320px; left: 50%; margin-left: -160px; height: 100px; }
	.twin-sections .slider-nav .slick-slide{ margin:0 8px; overflow: hidden; height: auto; cursor: pointer; border: 1px solid #d6d6d6; opacity: .5; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.twin-sections .slider-nav .slick-slide:hover{ opacity: 0.8; }
	.twin-sections .slider-nav .slick-slide.slick-center{ opacity: 1; }
	.twin-sections .slider-nav .slick-slide img{ width: auto; height: auto; max-width: 100%; }
	.twin-sections .slider-for img{ min-width:100%; min-height: 100%; }
	.twin-sections .slider-for, .twin-sections .slider-for>div,.twin-sections .slider-for .slick-track{height: 100%;}
	/* Twin sections texts */
	.twin-sections .twin_title{ font-size: 35px; color:#313131; font-weight: 900; margin:0; padding: 0; text-transform: none; letter-spacing: -1px; }
	.twin-sections .twin_subtitle{ font-size: 17px; color: #555; margin:20px 0 0; padding: 0; font-weight: 300; }
	.twin-sections .twin_description{ font-size: 14px; color:#666; padding: 0; max-width: 700px; margin:20px auto 25px; }
	.twin-sections.dark .twin_description{ color:#555; }
	.twin_boxes .item{margin-top: 15px;}
	.twin_boxes .item .icon{font-size: 22px;}
	.twin_boxes .item h2{ font-size: 15px; color:#4b4b4b; text-transform: uppercase; padding:0; margin:13px auto; font-weight: 900; }
	.twin_boxes .item p{ font-size: 14px; color:#666; text-transform: none; padding:0; font-weight: 500; }
	.twin-sections.dark .twin_boxes .item h2{ color:#555; }
	/* Slider texts */
	.twin-sections .slider .slider-for h2{color:#e7e7e7; font-size: 30px; max-width: 500px; text-transform: uppercase; padding: 0; margin:13px auto;}
	.twin-sections .slider .slider-for p{font-size: 22px; max-width: 500px; margin:0 auto 21px;}
		@media only screen and (max-width: 1070px){
			.twin-sections .halfwidth{float: none !important; width: 100%; max-width: 100%; min-height: 200px; overflow: auto; height: auto !important; }
			.twin-sections .halfwidth>.details{ position: relative; padding:140px 15px; top:0; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); transform: translateY(0%); }
			.twin-sections .halfwidth.slider{height: auto !important; min-height: auto!important;}
			.twin-sections .halfwidth>div.slick-slider{padding:0;}
			.twin-sections .halfwidth .item{margin-bottom:60px;}
		}
		@media only screen and (max-width: 641px){
			.twin-sections .halfwidth>div{ padding:15px; }
			.twin-sections .twin_title{ font-size: 30px; }
			.twin-sections .slider-nav{ height: 70px; }
		}
		@media only screen and (max-width: 481px){
			.twin-sections .twin_title{ font-size: 20px; }
			.twin-sections .twin_subtitle{ font-size: 16px; }
			.twin-sections .twin_description{ font-size: 14px; }
		}


/* HELIOS TEAM */
	.team-type-2{ text-align: center; }
	.team-type-2 .custom-slider, .team-type-2.custom-slider{ margin-top: 50px; }
	.team-type-2 .member{ margin:0 15px; height: auto; position: relative; }
	.team-type-2 .member img{ width: 100%; height: auto; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
	.team-type-2 .member:hover img{ opacity: 0.35; }
	.team-type-2 .member .member-body{ background-color:#000; position: relative; }
	/* Progress Bars */
	.team-type-2 .member .team-progress{ position: absolute; bottom:25px; left:0; width: 100%; opacity: 0; overflow: hidden; }
	.team-type-2 .member .team-progress .prg-bg{ width: 100%; background-color:#e8e8e8; padding: 0; margin: 0; }
	.team-type-2 .member .team-progress .progress-bar{ height: 5px; padding:0; float: none; margin-top:15px; position: relative; left:0; min-width: 40%; box-shadow: none; }
	.team-type-2 .member:hover .team-progress{ opacity: 1; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }
	/* Progress Texts */
	.team-type-2 .member .team-progress h3{ font-size:13px; color:#777; margin-top: 30px; white-space: nowrap; font-weight: 600; text-transform: uppercase; padding: 0;}
	/* Member Description Texts */
	.team-type-2 .member .member-description h2{ font-size: 16px; margin:0; padding:0; text-transform: none; font-weight: 600; }
	.team-type-2 .member .member-description h4{ font-size: 12px; margin:17px auto 14px; padding:0; text-transform: uppercase; font-weight: 600; }
	.team-type-2 .member .member-description p{font-size: inherit; line-height: 22px; margin:0; padding: 0;}
	/* Member Description Styles and hover */
	.team-type-2 .member .member-description{color:#858585; position: relative; width: 100%; height: auto; left:0; padding:20px 25px; opacity: 1; top: 0; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	.team-type-2 .member:hover .member-description{ color: white; }
	/* Member Socials */
	.team-type-2 .member .member-socials{ position: absolute; bottom:0; height: 60px; left:0; width: 100%; text-align: center; overflow: hidden; }
	.team-type-2 .member .member-socials a{ display: block; width: 37px; height: 37px; line-height: 37px; color:#949596; margin:0 5px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.team-type-2 .member .member-socials div{ top:100%; position: relative; display: inline-block; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.team-type-2 .member:hover .member-socials div{ top:0; }
	.team-type-2 .member .member-socials a:hover{ color:white; }
	/* Member Social Delays */
	.team-type-2 .member:hover .member-socials div:nth-of-type(1){ -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(2){ -webkit-transition-delay: 0.4s; transition-delay: 0.4s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(3){ -webkit-transition-delay: 0.5s; transition-delay: 0.5s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(4){ -webkit-transition-delay: 0.6s; transition-delay: 0.6s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(5){ -webkit-transition-delay: 0.7s; transition-delay: 0.7s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(6){ -webkit-transition-delay: 0.8s; transition-delay: 0.8s; }






/* HELIOS SKILLS - you can find all skills styles in the css/theme.css file */
	.skills-type-1 .item h3{ font-size: 15px; margin:0 0 10px 0; font-weight: 600; }
	.skills-type-1 .item .progress{ background-color:rgba(0,0,0,0.1); }









/* HELIOS WORKS */
	.works #items{margin:70px auto 0;}
	/* Hover color */
	.works .cbp-caption-activeWrap{ background-color:rgba(27,27,27,0.5); }
	/* Blur and scale effect for images  */
	.works .cbp-item:hover .cbp-caption-defaultWrap{ -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.03); }
	.works .cbp-item .cbp-caption-defaultWrap,
	.works .cbp-item .cbp-caption-defaultWrap img{ -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s; }
	.works .cbp-item:hover .cbp-caption-defaultWrap img{ -webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px); }
	/* Text Styles */
	.works .cbp-caption-activeWrap h2{ color:#fff; font-size:16px; text-transform: uppercase; margin:0; padding:0; font-weight: 900; }
	.works .cbp-caption-activeWrap p{ font-size:13px; margin:0; padding:0; color:#ccc; line-height: 16px; text-transform: capitalize;}
		/* Blur effect for large screen devices */
		@media only screen and (min-width: 769px){
			.works .cbp-caption-activeWrap h2,
			.works .cbp-caption-activeWrap p{ -webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px); -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s; }
			.works .cbp-item:hover .cbp-caption-activeWrap h2,
			.works .cbp-item:hover .cbp-caption-activeWrap p{ -webkit-filter: blur(0px); -moz-filter: blur(0px); -o-filter: blur(0px); -ms-filter: blur(0px); filter: blur(0px); }
		}
	/* filters on icon navigation */
	#filters li.cbp-filter-item{ position: relative; }
	#filters.works-visible li.cbp-filter-item:before{
		position: absolute; left:0; top:0; width: 100%; height: 100%; content: ''; background: #26292b; display: block;
		/* Animate Settings */
		-webkit-animation: filteranimate 1.5s linear; -moz-animation: filteranimate 1.5s linear; -ms-animation: filteranimate 1.5s; -webkit-animation-fill-mode: forwards;
	}
	@-webkit-keyframes filteranimate { 0% { opacity: 0.7;} 12% { opacity: 0.5;} 13% { opacity: 0.7;} 100% { opacity: 0;}}
	@keyframes filteranimate { 0% { opacity: 0.7;} 12% { opacity: 0.5;} 13% { opacity: 0.7;} 100% { opacity: 0;}}

		/* Visible Item texts on mobile */
		@media only screen and (max-width: 769px){
			.works .cbp-caption-activeWrap{ display: block; position: relative; opacity: 1; height: auto; background-color:#373742; }
		}
