
/* Atlas Demo Styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i');
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

	/* Body Options */
	body{ font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: -0.5px;}
	body *{outline:none;}

/* ATLAS COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#e08f26 !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#e08f26 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#e08f26 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#39539a !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#39539a !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#39539a !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#c09066 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#c09066 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#c09066 !important; }

	::selection{ background-color:#e08f26 !important; }

/* Other Colors */

	.bg-soft-colored2:before,.bg-soft-gradient:before,.bg-soft-gradient1:before,.bg-soft-gradient2:before{ opacity: 0.95; }

	.bg-soft-gradient:before,
	.bg-gradient{
		background: #e08f26; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #3856a2 0%, #e07526 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #3856a2 0%,#e07526 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #3856a2 0%,#e07526 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3856a2', endColorstr='#e07526',GradientType=1 ); /* IE6-9 */
	}
	.bg-soft-gradient1:before,
	.bg-gradient1{
		background: #f2b03d; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #f2b03d 0%, #e53838 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #f2b03d 0%,#e53838 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #f2b03d 0%,#e53838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b03d', endColorstr='#e53838',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.qdr-hover-5:before{ background-color:#ddd }


/* ATLAS SERVICES */
	.services{ position: relative; }
	.services-inner{ margin-bottom:150px; }
	.skills-type-2 .item .progress{ background-color: rgba(255,255,255,0.1); }
	.accordion .card-header{ padding:8px 0; color:#ddd; box-shadow: none; border-bottom:1px solid rgba(255,255,255,0.1); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.accordion .card-header[aria-expanded="true"],.accordion .card-header:hover{ color:#fff; }
	.creative-sliders{ background-color:#1f1f1f; box-shadow: 2px 25px 45px 5px rgba(0,0,0,0.2); position: absolute; bottom:0; width: 100%; height: auto; max-width: 1170px; overflow: hidden; margin-left:auto; margin-right: auto; -webkit-transform: translateY(50%); -moz-transform: translateY(50%); -ms-transform: translateY(50%); transform: translateY(50%); }
		@media only screen and (max-width: 768px){
			.services-inner{ margin-bottom:0; }
			.creative-sliders{ position: relative; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); transform: translateY(0%); }
		}
	.double-image-slider .item>a{ width: 100%; height: auto; max-height: 190px; overflow: hidden; position: relative; display: block; }
	.double-image-slider .item>a img{ width: 100%; height: auto;}

/* ATLAS TEAM */
	.team-type-3 .member{margin:0 15px; height: auto; }
	.team-type-3 .member img{width: 100%; height: auto; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.team-type-3 .member:hover img{opacity: 0.35; }
	.team-type-3 .member .member-body{background-color:#000; position: relative; }
	/* Progress Bars */
	.team-type-3 .member .team-progress{position: absolute; bottom:20px; left:-15px; width: 100%; opacity: 1; overflow: hidden; }
	.team-type-3 .member .team-progress .progress-bar{height: 40px; max-height: 40px; padding:10px 25px; float: none; font-size:15px; margin-top:15px; position: relative; opacity: 1; left:0; width:0; min-width: 40%; box-shadow: none; -webkit-transform: translateZ(0) scale(1.0, 1.0); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
	.team-type-3 .member:hover .team-progress .progress-bar{opacity: 0; left:-50%; }
	/* Member Description */
	.team-type-3 .member .member-description{position: absolute; width: 100%; left:0; padding:20px; color:#f6f6f6; opacity: 0; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
	.team-type-3 .member .member-description p.icon{ font-size: 18px; margin-top:-40px; display: block;}
	.team-type-3 .member .member-description h2{ font-size: 25px; padding: 0; margin: 15px auto; }
	.team-type-3 .member .member-description p{ font-size: 15px; line-height: 22px;}
	.team-type-3 .member:hover .member-description{opacity: 1; }
	/* Member Socials */
	.team-type-3 .member .member-socials{position: absolute; bottom:0; height: 60px; left:0; width: 100%; text-align: center; overflow: hidden; }
	.team-type-3 .member .member-socials a{display: block; width: 37px; height: 37px; line-height: 37px; color:#949596; margin:0 5px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.team-type-3 .member .member-socials div{top:100%; position: relative; display: inline-block; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.team-type-3 .member:hover .member-socials div{top:0; }
	.team-type-3 .member .member-socials a:hover{color:white; }
	/* Member Social Delays */
	.team-type-3 .member:hover .member-socials div:nth-of-type(1){-webkit-transition-delay: 0.3s; transition-delay: 0.3s;}
	.team-type-3 .member:hover .member-socials div:nth-of-type(2){-webkit-transition-delay: 0.4s; transition-delay: 0.4s;}
	.team-type-3 .member:hover .member-socials div:nth-of-type(3){-webkit-transition-delay: 0.5s; transition-delay: 0.5s;}
	.team-type-3 .member:hover .member-socials div:nth-of-type(4){-webkit-transition-delay: 0.6s; transition-delay: 0.6s;}
	.team-type-3 .member:hover .member-socials div:nth-of-type(5){-webkit-transition-delay: 0.7s; transition-delay: 0.7s;}
	/* Member Name and Position */
	.team-type-3 .member>h2{ margin:20px 0 0; font-size:20px; color:#6c6c6c; }
	.team-type-3 .member>p{ font-size:15px; color:#949494;}
