


<!-- First Click -->
<div class="cbp-loadMore-block1">
                            <!-- Item -->
                            <div class="item cbp-item graphic coding">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <!-- Image -->
                                        <img src="content/nyks/images/works_01.html" alt="Works image">
                                    </div>
                                    <!-- Details area, visible when mouseover -->
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link" target="_blank"><i class="fa fa-external-link-square"></i></a>
                                                <a href="content/nyks/images/works_01_b.html" class="works-link lightbox_item" data-title="Beautiful girl in train station">
                                                    <i class="fa fa-expand"></i>
                                                    <img src="content/nyks/images/works_01.html" alt="" class="none">
                                                </a>
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Titles and links -->
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="external-link cbp-l-grid-masonry-projects-title" rel="nofollow">Beautiful girl in train station</a>
                                <div class="cbp-l-grid-masonry-projects-desc">Graphic / Coding</div>
                            </div>
                            <!-- End Item -->

                            <!-- Item -->
                            <div class="item cbp-item design wordpress">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <!-- Image -->
                                        <img src="content/nyks/images/works_02.html" alt="Works image">
                                    </div>
                                    <!-- Details area, visible when mouseover -->
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="content/nyks/images/works_02_b.html" class="works-link lightbox_item" data-title="Taking photo!">
                                                    <i class="fa fa-expand"></i>
                                                    <img src="content/nyks/images/works_02.html" alt="" class="none">
                                                </a>
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Titles and links -->
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="external-link cbp-l-grid-masonry-projects-title" rel="nofollow">Taking photo!</a>
                                <div class="cbp-l-grid-masonry-projects-desc">Design / Wordpress</div>
                            </div>
                            <!-- End Item -->

                            <!-- Item -->
                            <div class="item cbp-item coding design wordpress">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <!-- Image -->
                                        <img src="content/nyks/images/works_03.html" alt="Works image">
                                    </div>
                                    <!-- Details area, visible when mouseover -->
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link" target="_blank"><i class="fa fa-external-link-square"></i></a>
                                                <a href="content/nyks/images/works_03_b.html" class="works-link lightbox_item" data-title="Man looking">
                                                    <i class="fa fa-expand"></i>
                                                    <img src="content/nyks/images/works_03.html" alt="" class="none">
                                                </a>
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Titles and links -->
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="external-link cbp-l-grid-masonry-projects-title" rel="nofollow">Man looking</a>
                                <div class="cbp-l-grid-masonry-projects-desc">Design / Wordpress</div>
                            </div>
                            <!-- End Item -->

                            <!-- Item -->
                            <div class="item cbp-item coding design">
                                <div class="cbp-slider-inline">
                                    <div class="cbp-slider-wrapper">
                                        <div class="cbp-slider-item cbp-slider-item--active">
                                            <a href="content/nyks/images/works_04_b.html" class="lightbox_item" data-title="Festival Time">
                                                <img src="content/nyks/images/works_04.html" alt="">
                                            </a>
                                        </div>
                                        <div class="cbp-slider-item">
                                            <a href="content/nyks/images/works_04_01_b.html" class="lightbox_item" data-title="Taking Photo">
                                                <img src="content/nyks/images/works_04_01.html" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cbp-slider-controls">
                                        <div class="cbp-slider-prev"></div>
                                        <div class="cbp-slider-next"></div>
                                    </div>
                                </div>
                                <!-- Titles and links -->
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="external-link cbp-l-grid-masonry-projects-title" rel="nofollow">I am the gallery in portfolio.</a>
                                <div class="cbp-l-grid-masonry-projects-desc">Coding / Design</div>
                            </div>
                            <!-- End Item -->

                            <!-- Item -->
                            <div class="item cbp-item wordpress">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <!-- Image -->
                                        <img src="content/nyks/images/works_05.html" alt="Works image">
                                    </div>
                                    <!-- Details area, visible when mouseover -->
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="content/nyks/images/works_05_b.html" class="works-link lightbox_item" data-title="Quadra &amp; Nyks.">
                                                    <i class="fa fa-expand"></i>
                                                    <img src="content/nyks/images/works_05.html" alt="" class="none">
                                                </a>
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Titles and links -->
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="external-link cbp-l-grid-masonry-projects-title" rel="nofollow">Quadra &amp; Nyks.</a>
                                <div class="cbp-l-grid-masonry-projects-desc">Wordpress</div>
                            </div>
                            <!-- End Item -->
</div>







<!-- Second Click -->
<div class="cbp-loadMore-block2">
                            <!-- Item -->
                            <div class="item cbp-item graphic design coding wordpress">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <!-- Image -->
                                        <img src="content/nyks/images/works_06.html" alt="Works image">
                                    </div>
                                    <!-- Details area, visible when mouseover -->
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link" target="_blank"><i class="fa fa-external-link-square"></i></a>
                                                <a href="content/nyks/images/works_06_b.html" class="works-link lightbox_item" data-title="Watch the scene">
                                                    <i class="fa fa-expand"></i>
                                                    <img src="content/nyks/images/works_06.html" alt="" class="none">
                                                </a>
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Titles and links -->
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="external-link cbp-l-grid-masonry-projects-title" rel="nofollow">Watch the scene</a>
                                <div class="cbp-l-grid-masonry-projects-desc">Graphic / Coding / Wordpress</div>
                            </div>
                            <!-- End Item -->

                            <!-- Item -->
                            <div class="item cbp-item design coding wordpress">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <!-- Image -->
                                        <img src="content/nyks/images/works_07.html" alt="Works image">
                                    </div>
                                    <!-- Details area, visible when mouseover -->
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="content/nyks/images/works_07_b.html" class="works-link lightbox_item" data-title="Good tattoo, good style.">
                                                    <i class="fa fa-expand"></i>
                                                    <img src="content/nyks/images/works_07.html" alt="" class="none">
                                                </a>
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Titles and links -->
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="external-link cbp-l-grid-masonry-projects-title" rel="nofollow">Good tattoo, good style.</a>
                                <div class="cbp-l-grid-masonry-projects-desc">Design / Coding / Wordpress</div>
                            </div>
                            <!-- End Item -->

                            <!-- Item -->
                            <div class="item cbp-item graphic wordpress">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <!-- Image -->
                                        <img src="content/nyks/images/works_08.html" alt="Works image">
                                    </div>
                                    <!-- Details area, visible when mouseover -->
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="content/nyks/images/works_08_b.html" class="works-link lightbox_item" data-title="Just smile!">
                                                    <i class="fa fa-expand"></i>
                                                    <img src="content/nyks/images/works_08.html" alt="" class="none">
                                                </a>
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Titles and links -->
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="external-link cbp-l-grid-masonry-projects-title" rel="nofollow">Just smile!</a>
                                <div class="cbp-l-grid-masonry-projects-desc">Graphic / Wordpress</div>
                            </div>
                            <!-- End Item -->

                            <!-- Item -->
                            <div class="item cbp-item design coding">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <!-- Image -->
                                        <img src="content/nyks/images/works_09.html" alt="Works image">
                                    </div>
                                    <!-- Details area, visible when mouseover -->
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link" target="_blank"><i class="fa fa-external-link-square"></i></a>
                                                <a href="content/nyks/images/works_09_b.html" class="works-link lightbox_item" data-title="Walking on the street.">
                                                    <i class="fa fa-expand"></i>
                                                    <img src="content/nyks/images/works_09.html" alt="" class="none">
                                                </a>
                                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Titles and links -->
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="external-link cbp-l-grid-masonry-projects-title" rel="nofollow">Walking on the street.</a>
                                <div class="cbp-l-grid-masonry-projects-desc">Design / Coding</div>
                            </div>
                            <!-- End Item -->
</div>

