
/* Lifestyle Demo Styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i,900i');

	/* Body Options */
	body{ font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: -0.5px;}
	body *{outline:none;}

/* Lifestyle COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#e33279 !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#e33279 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#e33279 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#ff8d28 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#ff8d28 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#ff8d28 !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#c09066 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#c09066 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#c09066 !important; }

	::selection{ background-color:#e33279 !important; }

/* Other Colors */

	.bg-gradient{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec7b29+0,e33279+100 */
		background: #ff8d28; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #ff8d28 0%, #e33279 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #ff8d28 0%,#e33279 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #ff8d28 0%,#e33279 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d28', endColorstr='#e33279',GradientType=1 ); /* IE6-9 */
	}
	.bg-soft-colored:before,
	.bg-soft-gradient:before{
		opacity: 0.9;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec7b29+0,e33279+100 */
		background: #f88c3c; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #f88c3c 0%, #e33279 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #f88c3c 0%,#e33279 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #f88c3c 0%,#e33279 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f88c3c', endColorstr='#e33279',GradientType=1 ); /* IE6-9 */
	}

	.bg-soft-gradient:before{ opacity: 0.95;}

    /* Hover Colors */
    .qdr-hover:before,
    .qdr-hover-5:before{ background-color:#ccc; }
	.qdr-hover:after{background-color:#715f66;}
	.qdr-hover-1:before,
	.qdr-hover-1-left:before,
	.qdr-hover-1-bottom:before,
	.qdr-hover-1-right:before{background-color:rgba(0,0,0,0.1);}
	.qdr-hover-2:before,.qdr-hover-2-vertical:before{background-color:#715f66;}
	.qdr-hover-2-rotate:before{background-color:#715f66;}


/* Lifestyle Home
================================================== */

	#home .lifestyle-home-inner{ padding:250px 0; overflow: hidden; }
		@media only screen and (max-height: 1000px){
			#home .lifestyle-home-inner{ padding:200px 0; }
		}
		@media only screen and (max-height: 750px){
			#home .lifestyle-home-inner{ padding:120px 0; }
		}
		@media only screen and (max-height: 600px){
			#home .lifestyle-home-inner{ padding:80px 0; }
		}
	#home .lifestyle-home-inner .home-title{ font-size: 56px; letter-spacing: -2.5px; font-weight: 900; line-height: normal; }
	#home .lifestyle-home-inner .home-subtitle{ font-size: 35px; letter-spacing: -2px; font-weight: 300; }
	#home .lifestyle-home-inner .home-description{ font-size: 15px; font-weight: 400; letter-spacing: 0; }

	#home .lifestyle-texts{ width: 90%; width: calc(100% - 100px); float: left; }
		@media only screen and (max-width: 1450px){
			#home .lifestyle-texts .home-title{ font-size: 42px; letter-spacing: -1px; }
			#home .lifestyle-home-inner .home-subtitle{ font-size: 30px; letter-spacing: -0.5px; font-weight: 300; }
		}
		@media only screen and (max-width: 769px){
			#home .lifestyle-texts{ width: 100%; float: none; }
			#home .lifestyle-texts .home-title{ font-size: 33px; letter-spacing: -1px; }
			#home .lifestyle-texts .home-subtitle{ font-size: 27px; letter-spacing: -0.5px; }
			#home .play-button{ width: 80px; margin:15px 0 !important; float: none; display: block; }
		}
		@media only screen and (max-width: 460px){
			#home .lifestyle-home-inner{ padding:100px 0 50px; }
			#home .lifestyle-texts .home-title{ font-size: 22px; }
			#home .lifestyle-texts .home-subtitle{ font-size: 19px; }
			#home .title-strips-over{ margin-top:0px; }
			#home .container h4{ margin-top:0px !important; font-size:15px; }
		}

	/* LIFESTYLE ABOUT DETAILS */
		#about-details{ position: relative; }
		#about-details #about_slider .carousel-inner{width: 68%; height: 450px; background:url(../images/about_details_01.jpg) left top no-repeat; background-size: cover; }
		#about-details #about_slider .carousel-inner .item{top:50%; position: absolute; padding:0 40px 0 70px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
		#about-details #about_slider .carousel-inner .item h1{ font-size:40px; margin:0; font-weight: 900; letter-spacing: -2.5px; line-height: normal; }
		#about-details #about_slider .carousel-inner .item p{ font-size:16px; font-weight: 400; margin:15px 0; }
		#about-details #about_slider .carousel-inner .item a{ text-transform: uppercase; padding:8px 20px; }

		/* Image slider */
		#about_image_slider{position: absolute; float: right; right: 0; top:0; left: auto; width: 470px; height: 690px; z-index: 0; }
		#about_image_slider img{width: 100%; height: auto; }
		#about-details .carousel-control.image_slider_controls{position: absolute; top: auto; bottom: 3px; left: 68%; right: -65px; width: 60px; height: auto; line-height: 20px; padding:7px 0; text-align: center; text-shadow:none; background-image: none; opacity: 1; }
		#about-details .carousel-control.image_slider_controls.left{bottom:45px; }
		#about-details .carousel-control.about_slider_controls{position: absolute; top: -38px; bottom:auto; right:470px; left:auto; width: 60px; height: auto; line-height: 20px; padding:7px 0; text-align: center; text-shadow:none; background-image: none; opacity: 1; }
		#about-details .carousel-control.about_slider_controls.left{top:-74px; }
		#about-details:hover .carousel-control.image_slider_controls{background-color:rgba(44,44,44,0.2);}
		/* Topbox Icon */
		#about-details .topbox .topbox-icon{ float:left; width: 100px; height: 100px; line-height: 95px; font-size:35px; text-align: center; padding:0; margin:0;}
		#about-details .topbox .topbox-details{ padding-left:30px; }
		#about-details .topbox .topbox-title{ padding:0; margin:0 0 15px; }
		#about-details .topbox .topbox-description{ padding:0; margin:0; max-width: 500px; font-size:17px; line-height: 21px; }

			@media only screen and (max-width: 1000px){
				#about-details .topbox .description p{max-width: 290px !important; font-size:15px !important;}
			}
			@media only screen and (max-width: 860px){
				#about-details #about_slider .carousel-inner{width: 100%; background-size:cover !important;}
				#about-details #about_image_slider{position: relative; margin:20px auto 0; float: none; display: block !important;}
				#about-details .topbox{width: 70% !important; margin:0 auto !important;}
				#about-details .topbox .topbox-icon{float:none; margin:0 auto 20px;}
				#about-details .topbox .topbox-details{ text-align: center; padding-left:0; }
				#about-details .topbox .description{text-align: center; margin:0 auto; float: none; padding: 0 !important;}
				#about-details .topbox .description p{max-width: 100% !important;}
				#about-details .carousel-control{display: none;}
			}
			@media only screen and (max-width: 600px){
				#about-details #about_slider h1{font-size:35px !important;}
				#about-details #about_slider p{font-size:15px !important;}
				#about-details #about_slider a{font-size:12px;}
				 #about_image_slider{width: 100%; height: auto;}
				#about-details #about_slider .carousel-inner .item{padding:0 15px 0 25px;}
			}
			@media only screen and (max-width: 360px){
				#about-details #about_slider h1{font-size:27px !important;}
			}
			
	/* LIFESTYLE TEAM SECTION */
		.team-type-1{ margin-top:50px; text-align:center; }
		.team-type-1 .member{ padding:0 12px; height: auto; }
			@media only screen and (max-width: 480px){
				.container .team-type-1 .member{ padding:0; }
			}
		.team-type-1 .member .member-image{ width: 100%; overflow: hidden; }
		.team-type-1 .member .member-image img{ width: 100%; }
		.team-type-1 .member .member-image .socials{ width: auto; position: relative; top:-30px; z-index: 2; color:white; text-align: left; padding-left:5px; }
		.team-type-1 .member .member-image .socials a{ width: 25px; height: 25px; display: inline-block; margin-left: 5px; line-height: 25px; text-align: center; font-size:14px; }
		.team-type-1 .member .member-name{ color:#888; margin:0 auto; padding:0; font-size:19px; }
		.team-type-1 .member .member-position{ margin:8px auto 0; padding:0; font-size:13px; }
		.team-type-1 .member .member-details{ margin:5px auto 0; padding:0; color:#999; line-height: 25px; font-size:13px; }
