            <!-- Item -->
            <div class="cbp-item design wordpress music article">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_07.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_07_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_07.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item wordpress photography video">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_08.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_08_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_08.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item wordpress photography video">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_09.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_09_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_09.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item wordpress photography video">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_10.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_10_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_10.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item wordpress photography video">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_11.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_11_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_11.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item wordpress photography video">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_12.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_12_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_12.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="cbp-item graphic wordpress photography photo">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_01.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_01_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_01.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link" target="_blank"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item photography design wordpress video">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_02.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_02_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_02.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link" target="_blank"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item graphic design photography movie music">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_03.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_03_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_03.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link" target="_blank"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item wordpress photography graphic article music">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_04.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_04_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_04.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item graphic photography design video music">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_05.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_05_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_05.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="cbp-item wordpress graphic design video photo">
                <div class="cbp-caption">
                    <!-- IMG -->
                    <div> <img src="images/gallery/mosaic_06.html" alt="image gallery"> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <!-- LINKS -->
                            <div class="cbp-l-caption-body">
                                <a href="images/gallery/mosaic_06_b.html" class="works-link lightbox_item" data-title="Dashboard<br>by Paul Flavius Nechita">
                                    <i class="icon-magnifier-add"></i>
                                    <!-- Thumbnail -->
                                    <img src="images/gallery/mosaic_06.html" alt="" class="none">
                                </a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link external-link"><i class="icon-plus"></i></a>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" class="works-link" target="_blank"><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
