            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/mosaic_08_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_08.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Fantasy</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Bright or darkness.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/mosaic_10_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_10.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Photography</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The Best Colors.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/mosaic_15_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_15.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Design</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Colors of Quadra.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/mosaic_12_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_12.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Creative</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Music Everywhere.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/mosaic_13_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_13.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Graphic</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Think it, design it.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/mosaic_14_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_14.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Video</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The frackled beauty.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item print motion logos identity">
                <a href="images/gallery/mosaic_01_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="images/gallery/mosaic_01.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Design</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Clean, Beautiful, Creative.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item web-design logos identity">
                <a href="images/gallery/mosaic_02_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_02.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Photography</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Beautiful Frakles</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item graphic print identity">
                <a href="images/gallery/mosaic_03_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_03.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Video</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The best Colors With Beauty.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item web-design motion logos">
                <a href="images/gallery/mosaic_04_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_04.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Love</span>
                                    <span class="bg-colored badge radius-lg">Colors</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Make Your Choice.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item motion print logos web-design">
                <a href="images/gallery/mosaic_06_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_06.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Photography</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Yellow and orange harmony.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item graphic">
                <a href="images/gallery/mosaic_07_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/mosaic_07.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Colors</span>
                                    <span class="bg-colored badge radius-lg">Art</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The colors of nature.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
