                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item photography">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">photography</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_08.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="sm-px xs-px-mobile sm-py xs-px-mobile" style="background-color:#ecebe9;">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h3 class="title normal-subtitle dark">Music Everywhere.</h3>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item magazine">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">magazine</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_09.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="sm-px xs-px-mobile sm-py xs-px-mobile gray1" style="background-color:#009ebe;">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h3 class="title normal-subtitle white">Make Your Choice.</h3>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <div class="cbp-item art design">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">art</div>
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">design</div>
                    <!-- Post Texts with image background -->
                    <div class="sm-px xs-px-mobile xl-py xs-px-mobile gray2 bg-cover bg-center bg-soft bg-soft-dark4" style="background-image:url(images/gallery/masonry_11.html);">>
                        <a href="https://vimeo.com/155981440" class="play-button t-center lightbox scale-hover inline-block xxs-mt">
                            <span class="icon-xl icon-mobile-lg bg-soft bg-soft-dark5 bg-colored-hover white circle o-hidden bs-light bs-lg-hover slow">
                                <i class="fa fa-play font-14"></i>
                            </span>
                        </a>
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <a href="blog-single-01.html" class="h3 title normal-subtitle white">Life Itself. Design.</a>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted.
                        </p>
                    </div>
                </div>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item photography">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-colored1 white">photography</div>
                    <!-- Post Texts -->
                    <div class="sm-px xs-px-mobile lg-py xs-px-mobile gray1 bg-colored">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h3 class="title normal-subtitle white">
                            Engineers like to solve problems. If there are no problems handily available, they will create their own problems.
                        </h3>
                        <!-- Post Message -->
                        <p class="xxs-mt bold font-14 playfair italic">
                            Scott Adams
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <div class="cbp-item photography">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">photography</div>
                    <!-- Image -->
                    <div class="relative">
                        <img src="images/gallery/masonry_12.html" alt="">
                        <!-- Overlay on image -->
                        <div class="overlay">
                            <div class="t-center v-center">
                                <a href="https://vimeo.com/155981440" class="play-button t-center lightbox scale-hover inline-block xxs-mt">
                                    <span class="icon-xl icon-mobile-lg icon-animated bg-gray2 bg-colored-hover dark white-hover circle bs-light bs-lg-hover slow">
                                        <i class="fa fa-play font-14"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <!-- End Overlay on image -->
                    </div>
                    <!-- Post Texts -->
                    <a href="blog-single-01.html" class="sm-px xs-px-mobile sm-py xs-px-mobile bg-gradient3 block">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h3 class="title normal-subtitle dark">Think it, Design it.</h3>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </a>
                </div>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item music">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">music</div>
                    <!-- Post Texts -->
                    <div class="xs-px xxl-pt sm-pb xs-px-mobile bg-cover bg-center white bg-soft bg-soft-dark1" style="background-image:url(images/gallery/masonry_13.html);">
                        <!-- Post Message -->
                        <h4 class="title bold-subtitle italic playfair dark t-shadow">
                            We love to design.
                        </h4>
                        <!-- Title -->
                        <h1 class="extrabold-title white t-shadow">The freckled <span class="playfair italic">beauty.</span></h1>
                        
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item art">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">art</div>
                    <!-- Post Texts -->
                    <div class="xs-px sm-py xs-px-mobile bg-dark2">
                        <!-- Title -->
                        <h1 class="title extrabold-title uppercase text-lg4 lh-xs text-background bg-gradient4 bg-cover bg-center" style="background-image:url(images/gallery/masonry_14.html);">
                            Think More Create Better
                        </h1>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item music">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">music</div>
                    
                    <!-- Post Texts -->
                    <div class="sm-px xs-px-mobile sm-py xs-px-mobile bg-black">
                        <!-- Title -->
                        <h3 class="title white">I respectfully decline the invitation to <span class="playfair italic"> join your hallucination.</span></h3>
                        <!-- Post Message -->
                        <p class="xxs-mt playfair italic">
                            Scott Adams
                        </p>
                    </div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_15.html" alt="">
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item design magazine">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">design</div>
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">magazine</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_16.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="sm-px xs-px-mobile sm-py xs-px-mobile gray3" style="background-color:#29282c;">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h3 class="title normal-subtitle white">Bright or darkness.</h3>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
