            <!-- item -->
            <div class="cbp-item graphic logos">
                <a href="images/gallery/masonry_07_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_07.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Video</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The best Colors With Beauty.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/masonry_08_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_08.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Creative</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Music Everywhere.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/masonry_09_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_09.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Love</span>
                                    <span class="bg-colored badge radius-lg">Colors</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Make Your Choice.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/masonry_10_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_10.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Video</span>
                                    <span class="bg-colored badge radius-lg">Art</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Power Of Darkness.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/masonry_11_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_11.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Gallery</span>
                                    <span class="bg-colored badge radius-lg">Art</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Life itself. Design.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/masonry_12_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_12.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Videography</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Think it, design it.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/masonry_13_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_13.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Videography</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The freckled beauty.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/masonry_14_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_14.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Colors</span>
                                    <span class="bg-colored badge radius-lg">Art</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The colors of nature.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/masonry_15_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_15.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Colors</span>
                                    <span class="bg-colored badge radius-lg">Gallery</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The colors of darkness.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/masonry_16_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/masonry_16.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Fantasy</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Bright or darkness.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End item -->
