            <!-- item -->
            <div class="cbp-item graphic logos">
                <a href="images/gallery/gallery_07_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/gallery_07.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Video</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The best Colors With Beauty.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/gallery_08_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/gallery_08.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Creative</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Music Everywhere.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/gallery_09_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/gallery_09.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Love</span>
                                    <span class="bg-colored badge radius-lg">Colors</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Make Your Choice.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/gallery_10_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/gallery_10.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Video</span>
                                    <span class="bg-colored badge radius-lg">Art</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Power Of Darkness.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/gallery_11_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/gallery_11.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Design</span>
                                    <span class="bg-colored badge radius-lg">Quadra</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Colors of Quadra.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/gallery_12_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/gallery_12.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Videography</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>Think it, design it.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/gallery_13_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/gallery_13.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Videography</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The freckled beauty.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/gallery_14_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/gallery_14.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Colors</span>
                                    <span class="bg-colored badge radius-lg">Art</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The colors of nature.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- item -->
            <div class="cbp-item identity print logos motion">
                <a href="images/gallery/gallery_15_b.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                    <img src="images/gallery/gallery_15.html" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-desc">
                                    <span class="bg-colored badge radius-lg">Colors</span>
                                    <span class="bg-colored badge radius-lg">Gallery</span>
                                </div>
                                <div class="cbp-l-caption-title">
                                    <span>The colors of darkness.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
