                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item magazine">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">magazine</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_09.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="xs-px xs-py xs-px-mobile bg-white bs-sm">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h4 class="bold-subtitle dark">Make Your Choice.</h4>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item photography">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">photography</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_10.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="xs-px xs-py xs-px-mobile bg-white bs-sm">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h4 class="bold-subtitle dark">Power Of Darkness.</h4>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item art design">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">art</div>
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">design</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_11.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="xs-px xs-py xs-px-mobile bg-white bs-sm">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h4 class="bold-subtitle dark">Colors of Quadra.</h4>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item photography">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">photography</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_12.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="xs-px xs-py xs-px-mobile bg-white bs-sm">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h4 class="bold-subtitle dark">Think it, Design it.</h4>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item music">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">music</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_13.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="xs-px xs-py xs-px-mobile bg-white bs-sm">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h4 class="bold-subtitle dark">The freckled beauty.</h4>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item art">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">art</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_14.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="xs-px xs-py xs-px-mobile bg-white bs-sm">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h4 class="bold-subtitle dark">The colors of nature.</h4>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item music">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">music</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_15.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="xs-px xs-py xs-px-mobile bg-white bs-sm">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h4 class="bold-subtitle dark">The colors of darkness.</h4>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
                <!-- Post -->
                <a href="blog-single-01.html" class="cbp-item design magazine">
                    <!-- Mark -->
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">design</div>
                    <div class="basic-mark to-left bold uppercase font-10 radius-lg bg-info white">magazine</div>
                    <!-- Image -->
                    <div>
                        <img src="images/gallery/masonry_16.html" alt="">
                    </div>
                    <!-- Post Texts -->
                    <div class="xs-px xs-py xs-px-mobile bg-white bs-sm">
                        <!-- Date -->
                        <p class="font-12 underline-hover">Jan 24, 2018.</p>
                        <!-- Title -->
                        <h4 class="bold-subtitle dark">Bright or darkness.</h4>
                        <!-- Sender, Tag, comments -->
                        <p class="font-11">
                           By <span class="underline-hover">GoldEyes</span> | <span class="underline-hover">Beauty N design</span> | <span class="underline-hover">32 Comments</span>
                        </p>
                        <!-- Post Message -->
                        <p class="xxs-mt">
                            It is a long established fact that a reader be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Post -->
