    <!-- Full width overflow for slides -->
    <style type="text/css">
        #slides .custom-slider .slick-list{ overflow: visible !important; }
    </style>


    <!-- About -->
    <section id="about" class="py bg-gray border-1 border-gray2">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row t-center-sm">
                <!-- Box -->
                <div class="col-md-4 col-sm-4 col-xs-12 clearfix xs-mt-mobile">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 no-pm">
                            <i class="icon-layers h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Exclusive Design</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="gray6 t-justify">
                                There are many variations of passages of Lorem load Ipsum available, now use Lorem Ipsum as their default model text, and a search for  predefined but the majority have suffe alteration in some form using 'Content here, content here.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->
                <!-- Box -->
                <div class="col-md-4 col-sm-4 col-xs-12 clearfix xs-mt-mobile">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 no-pm">
                            <i class="icon-organization h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">High Performance</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 gray6 xxs-mt no-pm">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots at Hampden-Sydney.
                            </p>
                            <p class="xxs-mt">
                                College in Virginia, looked up one of the more obscure Latin words, consectetur, through the cites
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->
                <!-- Box -->
                <div class="col-md-4 col-sm-4 col-xs-12 clearfix xs-mt-mobile">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 no-pm">
                            <i class="icon-envelope-open h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Friendly Support</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm t-justify gray6">
                            <p class="clearfix">
                                <strong class="f-left">Client:</strong>
                                <span class="gray6 mini-ml f-right">Bartholomew Henderson</span>
                            </p>
                            <p class="mini-mt clearfix">
                                <strong class="f-left">Director:</strong>
                                <span class="gray6 mini-ml f-right">Anastasia Matthews</span>
                            </p>
                            <p class="mini-mt clearfix">
                                <strong class="f-left">Website:</strong>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="gray6 xxs-ml underline-hover f-right">www.goldeyestheme.com</a>
                            </p>
                            <p class="mini-mt clearfix">
                                <strong class="f-left">Date:</strong>
                                <span class="gray6 mini-ml f-right">22.06.2018</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->
    </section>
    <!-- End About -->






    <!-- Slides -->
    <section id="slides" class="py o-hidden">

        <!-- Title -->
        <div class="t-center container">
            <h6 class="semibold t-shadow gray6">The standard chunk of Lorem Ipsum used since</h6>
            <h2 class="bold-title lh-sm mini-mt t-shadow">
                Think different, be creative, do best.
            </h2>
       </div>

        <!-- Slider -->
        <div class="custom-slider sm-mt container-md block-img circle-dots dark-dots c-resize" 
            data-slick='{"dots": true, "centerMode": true, "speed":800, "arrows": false, "fade": false, "draggable":true, "slidesToShow": 1, "slidesToScroll": 1}'>
            <div class="gap-15 gap-10-xs o-hidden">
                <img src="images/blocks/project_01.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="350">
            </div>
            <div class="gap-15 gap-10-xs o-hidden">
                <img src="images/blocks/project_02.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="550">
            </div>
            <div class="gap-15 gap-10-xs o-hidden">
                <img src="images/blocks/project_03.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="550">
            </div>
            <div class="gap-15 gap-10-xs o-hidden" >
                <img src="images/blocks/project_04.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="150">
            </div>
        </div>
        <!-- End Slider -->

        <!-- Text -->
        <div class="container-sm mt t-center">
            <h4 class="bold-subtitle font-16">Have stunning modules with a project.</h4>
        </div>
    </section>
    <!-- End Slides -->








    <!-- Twin Contents -->
    <section id="twins">
        <!-- Container to twins -->
        <div class="clearfix calculate-height lightbox_gallery">
            <div class="row no-mx">

                <!-- Item -->
                <div class="col-md-6 col-12 bg-white dark t-left lg-py py-mobile sm-pl sm-pr border-1 border-gray2">
                    <!-- Details -->
                    <div>
                        <h1 class="bold-title">
                            Our first goal is to <span class="playfair italic">provide</span> the highest  <br class="visible-xxl">
                            <span class="italic playfair">quality jobs.</span>
                        </h1>
                        <h4 class="normal-subtitle xxs-my gray7">
                            Who we are? Why do you chose us?
                        </h4>
                        <p class="paragraph xs-mb gray6">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                        </p>
                        <a href="https://vimeo.com/82557065" class="slow lg-btn font-11 extrabold uppercase white bg-colored1 qdr-hover-6 radius-lg bs-md-hover">
                            Watch Our Video
                        </a>
                    </div>
                </div>
                <!-- End Item -->

                <!-- Right image and video button -->
                <div class="col-md-6 col-12 bg-cover bg-center" data-background="images/blocks/project_05.jpg">
                    <!-- Details -->
                    <div class="details v-center t-center white">
                        <a href="https://vimeo.com/155981440" class="play-button t-center lightbox scale-hover inline-block xxs-mt">
                            <span class="icon icon-xl icon-mobile-lg icon-animated white circle fa fa-play bg-colored1 bs-light bs-lg-hover slow font-12"></span>
                        </a>
                    </div>
                </div>
                <!-- End Item -->

            </div>

        </div>
        <!-- End Container to twins -->
    </section>
    <!-- END TWIN CONTENTS SECTION -->





    <!-- Images -->
    <section id="images" class="py">
        <!-- Title -->
        <div class="t-center container">
            <h6 class="semibold t-shadow gray6">The standard chunk of Lorem Ipsum used since</h6>
            <h2 class="bold-title lh-sm mini-mt t-shadow">
                Think different, be creative, do best.
            </h2>
       </div>
        <!-- Container for items -->
        <div class="container mt block-img">
            <div class="row clearfix">
                <!-- Item -->
                <div class="col-md-12 o-hidden xxs-mb no-mt">
                    <img src="images/blocks/project_06.html" alt="project image" class="animated" data-animation="fadeInUp" data-animation-delay="150">
                </div>
                <!-- Item -->
                <div class="col-md-12 o-hidden xxs-my">
                    <img src="images/blocks/project_07.html" alt="project image" class="animated" data-animation="fadeInUp" data-animation-delay="150">
                </div>
                <!-- Item -->
                <div class="col-md-6 col-sm-12 o-hidden xxs-my">
                    <img src="images/blocks/project_08.html" alt="project image" class="animated" data-animation="fadeInUp" data-animation-delay="150">
                </div>
                <!-- Item -->
                <div class="col-md-6 col-sm-12 o-hidden xxs-my">
                    <img src="images/blocks/project_09.html" alt="project image" class="animated" data-animation="fadeInUp" data-animation-delay="250">
                </div>
                <!-- Item -->
                <div class="col-md-12 o-hidden xxs-my">
                    <img src="images/blocks/project_10.html" alt="project image" class="animated" data-animation="fadeInUp" data-animation-delay="150">
                </div>
            </div>
        </div>
        <!-- End Container for items -->
    </section>
    <!-- End Images -->







    <!-- BOXES -->
    <section class="py bg-gray">
        <div class="t-center container custom-slider boxes c-resize strip-dots dark-dots" data-slick='{"dots": true, "autoplay": false, "autoplaySpeed": 3000, "arrows": false, "draggable":true, "slidesToShow": 3, "slidesToScroll": 1}'>
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="150">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored white qdr-hover">
                    <i class="icon-layers font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">Exclusive Design</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="350">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored white qdr-hover">
                    <i class="icon-rocket font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">Super Responsive</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="550">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored white qdr-hover">
                    <i class="icon-trophy font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">Unlimited Helpers</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="750">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored white qdr-hover">
                    <i class="icon-options font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">High Performance</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
        </div>
    </section>
    <!-- END BOXES -->


    <!-- FOOTER -->
    <footer id="footer" class="bg-dark2 gray8 md-py uppercase font-13">
        <div class="container-sm t-center">
            <!-- Left -->
            © 2018. All Rights Reserved.
            <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="colored qdr-hover-5 slow">Quadra</a>. Designed By
            <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="colored-hover slow">GOLDEYES</a>.
        </div>
    </footer>
    <!-- END FOOTER -->

