

    <!-- About -->
    <section id="about" class="py bg-gray">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row t-center-sm">

                <!-- Box -->
                <div class="col-md-4 col-12 sm-mt-mobile">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 no-pm">
                            <i class="icon-fire h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Exclusive Design</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="gray6 normal">
                                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Box -->
                <div class="col-md-4 col-12 sm-mt-mobile">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 no-pm">
                            <i class="icon-globe-alt h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Friendly Support</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="gray6 normal">
                                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Box -->
                <div class="col-md-4 col-12 sm-mt-mobile">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 no-pm">
                            <i class="icon-home h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Unlimited Helpers</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="gray6 normal">
                                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->
    </section>
    <!-- End About -->









    <!-- Hotspots -->
    <section id="hotspots" class="py border-1 border-gray2">
        <!-- Hotspots -->
        <div id="hotspots" class="container hotspots">

            <!-- Your image is here -->
            <img src="images/blocks/project_18.html" alt="hotspot image">
            <!-- Hotpoints -->
            <div class="items">

                <!-- Item -->
                <div class="item animate icon-xs icon-mobile-xs circle bg-colored1 icon-animated white animated"
                    style="left:15.2%; top:26.5%;"
                    data-animation="fadeInUp"
                    data-animation-delay="200">
                    <div
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="right"
                        title="Simple Popover is here!"
                        data-content="There are many variations of passages of Lorem Ipsum available, but the majority  of text.</div>">
                        1
                    </div>
                </div>

                <!-- Item -->
                <div class="item animate icon-xs icon-mobile-xs circle bg-colored1 icon-animated white animated"
                    style="left:52.4%; top:36.2%;"
                    data-animation="fadeInUp"
                    data-animation-delay="300">
                    <div
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="top"
                        title="Simple Popover is here!"
                        data-content="There are many variations of passages of Lorem Ipsum available, but the majority  of text.</div>">
                        2
                    </div>
                </div>

                <!-- Item -->
                <div class="item animate icon-xs icon-mobile-xs circle bg-colored1 icon-animated white animated"
                    style="left:89.3%; top:11.6%;"
                    data-animation="fadeInUp"
                    data-animation-delay="300">
                    <div
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="left"
                        title="Simple Popover is here!"
                        data-content="There are many variations of passages of Lorem Ipsum available, but the majority  of text.</div>">
                        3
                    </div>
                </div>

                <!-- Item -->
                <div class="item animate icon-xs icon-mobile-xs circle bg-colored1 icon-animated white animated"
                    style="left:19.3%; top:84.6%;"
                    data-animation="fadeInUp"
                    data-animation-delay="400">
                    <div
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="top"
                        title="Simple Popover is here!"
                        data-content="There are many variations of passages of Lorem Ipsum available, but the majority  of text.</div>">
                        4
                    </div>
                </div>

                <!-- Item -->
                <div class="item animate icon-xs icon-mobile-xs circle bg-colored1 icon-animated white animated"
                    style="left:88.4%; top:79.1%;"
                    data-animation="fadeInUp"
                    data-animation-delay="500">
                    <div
                        data-toggle="popover"
                        data-trigger="hover"
                        data-placement="left"
                        title="Simple Popover is here!"
                        data-content="There are many variations of passages of Lorem Ipsum available, but the majority  of text.</div>">
                        5
                    </div>
                </div>

            </div>
        </div>
        <!-- End Hotspots -->
    </section>
    <!-- End Hotspots -->










    <!-- Slides -->
    <section id="slides" class="py">

        <!-- Title -->
        <div class="t-center container">
            <h6 class="semibold t-shadow gray6">The standard chunk of Lorem Ipsum used since</h6>
            <h2 class="bold-title lh-sm mini-mt t-shadow">
                Think different, be creative, do best.
            </h2>
       </div>

        <!-- Slider -->
        <div class="custom-slider sm-mt container-lg block-img circle-dots dark-dots c-resize" 
            data-slick='{"dots": true, "speed":600, "arrows": false, "fade": false, "draggable":true, "slidesToShow": 4, "slidesToScroll": 1}'>
            <div class="gap-15 gap-10-xs o-hidden">
                <img src="images/blocks/project_19.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="150">
            </div>
            <div class="gap-15 gap-10-xs o-hidden">
                <img src="images/blocks/project_20.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="350">
            </div>
            <div class="gap-15 gap-10-xs o-hidden">
                <img src="images/blocks/project_21.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="550">
            </div>
            <div class="gap-15 gap-10-xs o-hidden" >
                <img src="images/blocks/project_22.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="550">
            </div>
            <div class="gap-15 gap-10-xs o-hidden" >
                <img src="images/blocks/project_23.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="550">
            </div>
            <div class="gap-15 gap-10-xs o-hidden" >
                <img src="images/blocks/project_24.html" alt="" class="animated" data-animation="fadeInUp" data-animation-delay="550">
            </div>
        </div>
        <!-- End Slider -->

        <!-- Text -->
        <div class="container-sm mt t-center">
            <h4 class="bold-subtitle font-16">Have stunning modules with a project.</h4>
        </div>
    </section>
    <!-- End About -->








    <!-- Images -->
    <section id="images" class="py border-1 border-gray2">
        <!-- Title -->
        <div class="t-center container">
            <h6 class="semibold t-shadow gray6">The standard chunk of Lorem Ipsum used since</h6>
            <h2 class="bold-title lh-sm mini-mt t-shadow">
                Think different, be creative, do best.
            </h2>
       </div>
        <!-- Container for items -->
        <div class="container-lg sm-mt block-img">
            <div class="row clearfix">
                <!-- Item -->
                <div class="col-md-12 o-hidden no-pm">
                    <img src="images/blocks/project_25.html" alt="project image" class="animated" data-animation="fadeInUp" data-animation-delay="150">
                </div>
                <!-- Item -->
                <div class="col-md-12 o-hidden no-pm">
                    <img src="images/blocks/project_26.html" alt="project image" class="animated" data-animation="fadeInUp" data-animation-delay="150">
                </div>
                <!-- Item -->
                <div class="col-md-12 o-hidden no-pm">
                    <img src="images/blocks/project_27.html" alt="project image" class="animated" data-animation="fadeInUp" data-animation-delay="150">
                </div>
            </div>
        </div>
        <!-- End Container for items -->
    </section>
    <!-- End Images -->







    <!-- BOXES -->
    <section class="py bt-1 border-gray2">
        <div class="t-center container custom-slider boxes c-resize strip-dots dark-dots" data-slick='{"dots": true, "autoplay": false, "autoplaySpeed": 3000, "arrows": false, "draggable":true, "slidesToShow": 3, "slidesToScroll": 1}'>
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="150">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored1 white qdr-hover">
                    <i class="icon-layers font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">Exclusive Design</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="350">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored1 white qdr-hover">
                    <i class="icon-rocket font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">Super Responsive</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="550">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored1 white qdr-hover">
                    <i class="icon-trophy font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">Unlimited Helpers</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="750">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored1 white qdr-hover">
                    <i class="icon-options font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">High Performance</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
        </div>
    </section>
    <!-- END BOXES -->


    <!-- FOOTER -->
    <footer id="footer" class="bg-dark2 gray8 md-py uppercase font-13">
        <div class="container-sm t-center">
            <!-- Left -->
            © 2018. All Rights Reserved.
            <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="colored qdr-hover-5 slow">Quadra</a>. Designed By
            <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="colored-hover slow">GOLDEYES</a>.
        </div>
    </footer>
    <!-- END FOOTER -->

