    

    <!-- Anton Font For The Project -->
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <!-- About -->
    <section id="about" class="py bg-gray bb-1 border-gray2">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row t-center-sm">

                <!-- Box -->
                <div class="col-md-4 col-12 sm-mt-mobile">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 no-pm">
                            <i class="icon-fire h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Exclusive Design</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="gray6 normal">
                                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Box -->
                <div class="col-md-4 col-12 sm-mt-mobile">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 no-pm">
                            <i class="icon-globe-alt h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Friendly Support</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="gray6 normal">
                                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Box -->
                <div class="col-md-4 col-12 sm-mt-mobile">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 no-pm">
                            <i class="icon-home h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Unlimited Helpers</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="gray6 normal">
                                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->
    </section>
    <!-- End About -->



    <!-- Post -->
    <section id="post1" class="pb">
        <!-- Hero -->
        <div class="parallax-container fullwidth bg-dark1 xxl-py">
            <!-- Parallax Background -->
            <div class="bg-parallax skrollr" data-anchor-target="#post1" data-bottom-top="transform:translate3d(0, -190px, 0px);" data-top-bottom="transform:translate3d(0px, 50px, 0px);" data-background="images/blocks/project_11.html"></div>
        </div>
        <!-- Container -->
        <div class="container t-left my">
            <!-- Row -->
            <div class="row">
                <!-- Box -->
                <div class="col-md-8 col-12 clearfix xs-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="100">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 no-pm">
                            <i class="icon-layers h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-px">
                            <h4 class="bold-subtitle">Exclusive Design</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="gray6 t-justify lh-lg">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. injected humour, or non-characteristic words etc. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->
                <!-- Box -->
                <div class="col-md-4 col-12 clearfix xs-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 t-center-sm no-pm">
                            <i class="icon-envelope-open h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Friendly Support</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="clearfix xxs-mb xxs-pb bb-1 border-gray2">
                                <strong class="f-left">Client:</strong>
                                <span class="gray6 mini-ml f-right">Bartholomew Henderson</span>
                            </p>
                            <p class="clearfix xxs-mb xxs-pb bb-1 border-gray2">
                                <strong class="f-left">Director:</strong>
                                <span class="gray6 mini-ml f-right">Anastasia Matthews</span>
                            </p>
                            <p class="mini-mt xxs-mb xxs-pb clearfix bb-1 border-gray2">
                                <strong class="f-left">Website:</strong>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="gray6 xxs-ml underline-hover f-right">www.goldeyestheme.com</a>
                            </p>
                            <p class="mini-mt clearfix">
                                <strong class="f-left">Date:</strong>
                                <span class="gray6 mini-ml f-right">22.06.2018</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container for boxes -->
        <!-- Container for images and bottom boxes -->
        <div class="container block-img">
            <!-- images -->
            <div class="row clearfix">
                <!-- Item -->
                <div class="col-md-12 moving-container xxs-mb no-mt animated" data-animation="fadeInUp" data-animation-delay="150">
                    <!-- Moving div -->
                    <div class="moving bs-lg">
                        <img src="images/blocks/project_12.html" alt="project image">
                        <div class="static-overlay white">
                            <div class="v-center t-center translatez-lg">
                                <h1 class="anton text-lg uppercase ">
                                    The Best Quality.
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item -->
                <div class="col-md-12 moving-container xxs-mb sm-mt animated" data-animation="fadeInUp" data-animation-delay="150">
                    <!-- Moving div -->
                    <div class="moving bs-lg">
                        <img src="images/blocks/project_13.html" alt="project image">
                        <div class="static-overlay white">
                            <div class="v-center t-center translatez-lg">
                                <h1 class="anton text-lg uppercase ">
                                    The Best Performance
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix row sm-mt">
                <!-- Box -->
                <div class="col-md-4 col-sm-12 sm-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="150">
                    <i class="icon-layers gray6 h1"></i>
                    <h4 class="bold-subtitle font-18 xxs-my">
                        You deserve a stunning theme. Just start create a pixel perfect website today!
                    </h4>
                    <p class="gray6">
                        Discovered the undoubtable source. There is many varia tions of passages of Lorem Ipsum available, but the major have suffered alteration in some form, injected honor randomised words which.
                    </p>
                </div>
                <!-- Box -->
                <div class="col-md-4 col-sm-12 sm-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="350">
                    <i class="icon-speech gray6 h1"></i>
                    <h4 class="bold-subtitle font-18 xxs-my">
                        Awesome features designed and coded for super-easy customizing.
                    </h4>
                    <p class="gray6">
                        Discovered the undoubtable source. There is many varia tions of passages of Lorem Ipsum available, but the major have suffered alteration in some form, injected honor randomised words which.
                    </p>
                </div>
                <!-- Box -->
                <div class="col-md-4 col-sm-12 sm-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="550">
                    <i class="icon-diamond gray6 h1"></i>
                    <h4 class="bold-subtitle font-18 xxs-my">
                        Your website can look perfect on mobile devices and have awesome speed.
                    </h4>
                    <p class="gray6">
                        Discovered the undoubtable source. There is many varia tions of passages of Lorem Ipsum available, but the major have suffered alteration in some form, injected honor randomised words which.
                    </p>
                </div>
                
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container for items -->
    </section>
    <!-- End Post -->









    <!-- Post -->
    <section id="post2" class="pb">
        <!-- Hero -->
        <div class="parallax-container fullwidth bg-dark1 xxl-py">
            <!-- Parallax Background -->
            <div class="bg-parallax skrollr" data-anchor-target="#post2" data-bottom-top="transform:translate3d(0, -190px, 0px);" data-top-bottom="transform:translate3d(0px, 50px, 0px);" data-background="images/blocks/project_14.html"></div>
        </div>
        <<!-- Container -->
        <div class="container t-left my">
            <!-- Row -->
            <div class="row">
                <!-- Box -->
                <div class="col-md-8 col-12 clearfix xs-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="100">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 no-pm">
                            <i class="icon-layers h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-px">
                            <h4 class="bold-subtitle">Exclusive Design</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="gray6 t-justify lh-lg">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. injected humour, or non-characteristic words etc. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->
                <!-- Box -->
                <div class="col-md-4 col-12 clearfix xs-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="row no-mx">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 t-center-sm no-pm">
                            <i class="icon-envelope-open h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 xxs-mt-mobile no-pr">
                            <h4 class="bold-subtitle">Friendly Support</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-12 xxs-mt no-pm">
                            <p class="clearfix xxs-mb xxs-pb bb-1 border-gray2">
                                <strong class="f-left">Client:</strong>
                                <span class="gray6 mini-ml f-right">Bartholomew Henderson</span>
                            </p>
                            <p class="clearfix xxs-mb xxs-pb bb-1 border-gray2">
                                <strong class="f-left">Director:</strong>
                                <span class="gray6 mini-ml f-right">Anastasia Matthews</span>
                            </p>
                            <p class="mini-mt xxs-mb xxs-pb clearfix bb-1 border-gray2">
                                <strong class="f-left">Website:</strong>
                                <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="gray6 xxs-ml underline-hover f-right">www.goldeyestheme.com</a>
                            </p>
                            <p class="mini-mt clearfix">
                                <strong class="f-left">Date:</strong>
                                <span class="gray6 mini-ml f-right">22.06.2018</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container for boxes -->
        <!-- Container for images and bottom boxes -->
        <div class="container block-img">
            <!-- images -->
            <div class="row clearfix">
                <!-- Item -->
                <div class="col-md-12 moving-container xxs-mb no-mt animated" data-animation="fadeInUp" data-animation-delay="150">
                    <!-- Moving div -->
                    <div class="moving bs-lg">
                        <img src="images/blocks/project_15.html" alt="project image">
                        <div class="static-overlay">
                            <div class="v-center t-center translatez-lg">
                                <h1 class="anton colored1 text-lg uppercase">
                                    Do With Love
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item -->
                <div class="col-md-12 moving-container xxs-mb sm-mt animated" data-animation="fadeInUp" data-animation-delay="150">
                    <!-- Moving div -->
                    <div class="moving bs-lg">
                        <img src="images/blocks/project_16.html" alt="project image">
                        <div class="static-overlay white">
                            <div class="v-center t-center translatez-lg">
                                <h1 class="anton text-lg uppercase">
                                    whatever you do.
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix row sm-mt">
                <!-- Box -->
                <div class="col-md-4 col-sm-12 sm-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="150">
                    <i class="icon-cup gray6 h1"></i>
                    <h4 class="bold-subtitle font-18 xxs-my">
                        You deserve a stunning theme. Just start create a pixel perfect website today!
                    </h4>
                    <p class="gray6">
                        Discovered the undoubtable source. There is many varia tions of passages of Lorem Ipsum available, but the major have suffered alteration in some form, injected honor randomised words which.
                    </p>
                </div>
                <!-- Box -->
                <div class="col-md-4 col-sm-12 sm-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="350">
                    <i class="icon-pie-chart gray6 h1"></i>
                    <h4 class="bold-subtitle font-18 xxs-my">
                        Awesome features designed and coded for super-easy customizing.
                    </h4>
                    <p class="gray6">
                        Discovered the undoubtable source. There is many varia tions of passages of Lorem Ipsum available, but the major have suffered alteration in some form, injected honor randomised words which.
                    </p>
                </div>
                <!-- Box -->
                <div class="col-md-4 col-sm-12 sm-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="550">
                    <i class="icon-chart gray6 h1"></i>
                    <h4 class="bold-subtitle font-18 xxs-my">
                        Your website can look perfect on mobile devices and have awesome speed.
                    </h4>
                    <p class="gray6">
                        Discovered the undoubtable source. There is many varia tions of passages of Lorem Ipsum available, but the major have suffered alteration in some form, injected honor randomised words which.
                    </p>
                </div>
                
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container for items -->
    </section>
    <!-- End Post -->



    <!-- FOOTER -->
    <footer id="footer" class="bg-dark2 gray8 md-py uppercase font-13">
        <div class="container-sm t-center">
            <!-- Left -->
            © 2018. All Rights Reserved.
            <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="colored qdr-hover-5 slow">Quadra</a>. Designed By
            <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="colored-hover slow">GOLDEYES</a>.
        </div>
    </footer>
    <!-- END FOOTER -->

