
    <!-- About -->
    <section id="about" class="py">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Left Texts -->
                <div class="col-md-8 col-12 xs-mt-mobile t-center-sm">
                    <h5 class="gray7 font-13-mobile">It is a long established fact that a reader will be distracted</h5>
                    <h2 class="bold-title text-mobile">
                        Have stunning modules with a project.
                    </h2>
                    <p class="lh-lg gray6 xs-mt t-justify">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to like readable English. Many desktop publishing packages and web page editors 'lorem ipsum' will uncover many web sites still in their infancy. Various sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>
                </div>
                <!-- Right box -->
                <div class="col-md-4 col-12 clearfix xs-mt-mobile">
                    <div class="row no-mx t-center-sm">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 no-pm">
                            <i class="icon-globe-alt h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 no-pr xxs-mt-mobile">
                            <h4 class="bold-subtitle">Friendly Support.</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-md-12 xs-mt no-pm">
                            <p class="gray6 t-justify">
                                There are many variations of passages of Lorem load Ipsum available, now use Lorem Ipsum as their default model text, and a search for  predefined but the majority have suffe alteration in some form using 'Content here, content here', making it look.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Right -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->
    </section>
    <!-- End About -->






    <!-- Slides -->
    <section id="slides" class="py bg-dark">
        <!-- Slider -->
        <div class="custom-slider container-xl block-img circle-dots c-resize" data-slick='{"dots": true, "speed":800, "arrows": false, "fade": false, "draggable":true, "slidesToShow": 3, "slidesToScroll": 1}'>
            <div class="gap-20 gap-10-xs animated" data-animation="fadeInUp" data-animation-delay="150"><img src="images/blocks/block_02.html" alt="" class="radius-lg no-radius-hover slow"></div>
            <div class="gap-20 gap-10-xs animated" data-animation="fadeInUp" data-animation-delay="350"><img src="images/blocks/block_06.html" alt="" class="radius-lg no-radius-hover slow"></div>
            <div class="gap-20 gap-10-xs animated" data-animation="fadeInUp" data-animation-delay="550"><img src="images/blocks/block_04.html" alt="" class="radius-lg no-radius-hover slow"></div>
            <div class="gap-20 gap-10-xs"><img src="images/blocks/block_03.html" alt="" class="radius-lg no-radius-hover slow"></div>
        </div>
        <!-- End Slider -->
        <!-- Text -->
        <div class="container-sm mt t-center white">
            <h4 class="bold-subtitle font-16">Have stunning modules with a project.</h4>
        </div>
    </section>
    <!-- End Slides -->




    <!-- BOXES -->
    <section class="py">
        <div class="t-center container custom-slider c-resize circle-dots dark-dots" data-slick='{"dots": true, "autoplay": false, "autoplaySpeed": 3000, "arrows": false, "draggable":true, "slidesToShow": 3, "slidesToScroll": 1}'>
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="150">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored white qdr-hover">
                    <i class="icon-layers font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">Exclusive Design</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="350">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored white qdr-hover">
                    <i class="icon-rocket font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">Super Responsive</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="550">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored white qdr-hover">
                    <i class="icon-trophy font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">Unlimited Helpers</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="qdr-hover-container xxs-px animated" data-animation="fadeInUp" data-animation-delay="750">
                <!-- Icon -->
                <div class="icon-xxl circle bg-colored white qdr-hover">
                    <i class="icon-options font-25"></i>
                </div>
                <h4 class="mini-mt bold-subtitle">High Performance</h4>
                <p class="gray6">Discovered the undoubtable source.</p>
                <p class="xxs-mt gray6 font15">There are many variations of passages of Lorem load Ipsum available, predefined but the majority have suffe alteration in some form, by injected humour.</p>
            </div>
            <!-- End Box -->
        </div>
    </section>
    <!-- END BOXES -->





    <!-- Images -->
    <section id="images">
        <!-- Clearfix container to cols -->
        <div class="row no-px calculate-height">
            <!-- Left Large Image -->
            <div class="col-md-6 col-12 height-auto-mobile lg-py-mobile no-pm">
                <div class="absolute fullwidth fullheight bg-center bg-cover animated" style="left:0; top:0;" data-animation="fadeInUp" data-animation-delay="100" data-background="images/blocks/block_07.html"></div>
            </div>
            <!-- Right Small Images -->
            <div class="col-md-6 col-12 no-pm height-auto-mobile all-block-links">
                <div class="row no-px">
                    <div class="col-sm-6 col-12 no-pm o-hidden">
                        <div class="lg-py bg-center bg-cover animated" data-animation="fadeInUp" data-animation-delay="300" data-background="images/blocks/block_02.html"></div>
                    </div>
                    <div class="col-sm-6 col-12 no-pm o-hidden">
                        <div class="lg-py bg-center bg-cover animated" data-animation="fadeInUp" data-animation-delay="400" data-background="images/blocks/block_03.html"></div>
                    </div>
                    <div class="col-sm-6 col-12 no-pm o-hidden">
                        <div class="lg-py bg-center bg-cover animated" data-animation="fadeInUp" data-animation-delay="300" data-background="images/blocks/block_06.html"></div>
                    </div>
                    <div class="col-sm-6 col-12 no-pm o-hidden">
                        <div class="lg-py bg-center bg-cover animated" data-animation="fadeInUp" data-animation-delay="400" data-background="images/blocks/block_04.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Images -->



    <!-- Boxes -->
    <section class="py">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">

                <!-- Box -->
                <div class="col-md-4 col-12 xs-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="200">
                    <div class="row no-mx t-center-sm">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 no-pm">
                            <i class="icon-globe-alt h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 no-pr xxs-mt-mobile">
                            <h4 class="bold-subtitle">Exclusive Design</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-md-12 xs-mt no-pm">
                            <p class="gray6 t-justify">
                                There are many variations of passages of Lorem load Ipsum available, now use Lorem Ipsum as their default model text, and a search for  predefined but the majority have suffe alteration in some form using 'Content here, content here', making it look.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->

                <!-- Box -->
                <div class="col-md-4 col-12 xs-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="row no-mx t-center-sm">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 no-pm">
                            <i class="icon-globe-alt h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 no-pr xxs-mt-mobile">
                            <h4 class="bold-subtitle">High Performance</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-md-12 xs-mt no-pm">
                            <p class="gray6 t-justify">
                                There are many variations of passages of Lorem load Ipsum available, now use Lorem Ipsum as their default model text, and a search for  predefined but the majority have suffe alteration in some form using 'Content here, content here', making it look.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->

                <!-- Box -->
                <div class="col-md-4 col-12 xs-mt-mobile animated" data-animation="fadeInUp" data-animation-delay="400">
                    <div class="row no-mx t-center-sm">
                        <!-- Icon -->
                        <div class="col-md-1 col-12 no-pm">
                            <i class="icon-globe-alt h2 colored1"></i>
                        </div>
                        <div class="col-md-11 col-12 no-pr xxs-mt-mobile">
                            <h4 class="bold-subtitle">Awesome Customizable</h4>
                            <p class="gray6 normal">Discovered the undoubtable source.</p>
                        </div>
                        <div class="col-md-12 xs-mt no-pm">
                            <p class="gray6 t-justify">
                                There are many variations of passages of Lorem load Ipsum available, now use Lorem Ipsum as their default model text, and a search for  predefined but the majority have suffe alteration in some form using 'Content here, content here', making it look.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Box -->

            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->
    </section>
    <!-- End Boxes -->




    <section id="discover" class="xl-py relative">
        <!-- Parallax Background -->
        <div class="bg-parallax skrollr" data-anchor-target="#discover" data-bottom-top="transform:translate3d(0, -190px, 0px);" data-top-bottom="transform:translate3d(0px, 50px, 0px);" data-background="images/backgrounds/background_13.html"></div>
        <!-- End Video -->
        <!-- Container for link -->
        <div class="container t-center white">
            <p class="gray4">With Love.</p>
            <h2 class="normal">Discover Freedom Now</h2>
            <a href="https://vimeo.com/204694549" class="lightbox inline-block mini-mt">
                <span class="icon-lg icon-mobile-md icon-animated circle icon fa fa-play bg-colored1 border-colored scale-hover font-16"></span>
            </a>
        </div>
    </section>





    <!-- FOOTER -->
    <footer id="footer" class="bg-dark2 gray8 md-py uppercase font-12">
        <div class="container-sm t-center">
            <!-- Left -->
            © 2018. All Rights Reserved.
            <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="colored qdr-hover-5 slow">Quadra</a>. Designed By
            <a href="https://themeforest.net/item/quadra-creative-multipurpose-template/21409528" target="_blank" class="colored-hover slow">GOLDEYES</a>.
        </div>
    </footer>
    <!-- END FOOTER -->

