.pln {
    color: #333333;
}

@media screen {
    /* string content */
    .str {
        color: #dd1144;
    }

    /* a keyword */
    .kwd {
        color: #255ABC;
    }

    /* a comment */
    .com {
        color: #999988;
        font-style: italic;
    }

    /* a type name */
    .typ {
        color: #445588;
    }

    /* a literal value */
    .lit {
        color: #A91336;
    }

    /* punctuation */
    .pun {
        color: #333333;
    }

    /* lisp open bracket */
    .opn {
        color: #333333;
    }

    /* lisp close bracket */
    .clo {
        color: #333333;
    }

    /* a markup tag name */
    .tag {
        color: navy;
    }

    /* a markup attribute name */
    .atn {
        color: teal;
    }

    /* a markup attribute value */
    .atv {
        color: #dd1144;
    }

    /* a declaration */
    .dec {
        color: #333333;
    }

    /* a variable name */
    .var {
        color: teal;
    }

    /* a function name */
    .fun {
        color: #990000;
    }
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
    .str {
        color: #006600;
    }

    .kwd {
        color: #006;
        font-weight: bold;
    }

    .com {
        color: #600;
        font-style: italic;
    }

    .typ {
        color: #404;
        font-weight: bold;
    }

    .lit {
        color: #004444;
    }

    .pun, .opn, .clo {
        color: #444400;
    }

    .tag {
        color: #006;
        font-weight: bold;
    }

    .atn {
        color: #440044;
    }

    .atv {
        color: #006600;
    }
}

/* Style */
pre.prettyprint {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e0e0e0;
    color: #888;
    font: 13px/18px Consolas, monospace, sans-serif;
    overflow: auto;
    margin: 15px 0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin: 10px 10px 10px 30px;
}

li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8, li.L9 {
    list-style-type: decimal !important
}

