
/* Unfold Demo Styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900,900i');

	/* Body Options */
	body{ font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: 0px; }
	body *{outline:none;}

/* Unfold COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#3381f5 !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#3381f5 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#3381f5 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#4264d1 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#4264d1 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#4264d1 !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#c09066 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#c09066 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#c09066 !important; }

	::selection{ background-color:#9e33e2 !important; }

	/* Colors to qdr-hovers */
	.qdr-hover:after{background-color:#363636;}
	.qdr-hover-5:before{ background-color:#aaa; }
	.qdr-hover-1:before,
	.qdr-hover-1-left:before,
	.qdr-hover-1-right:before,
	.qdr-hover-1-bottom:before{background-color:rgba(0,0,0,0.1);}
	.qdr-hover-2:before,.qdr-hover-2-vertical:before{background-color:#333;}
	.qdr-hover-2-rotate:before{background-color:#333;}
	/* Other Colors */

		.bg-gradient{
			background: #327ffe;
			background: -moz-linear-gradient(45deg, #754ef4 0%, #327ffe 50%, #21cae9 100%);
			background: -webkit-linear-gradient(45deg, #754ef4 0%,#327ffe 50%,#21cae9 100%);
			background: linear-gradient(45deg, #754ef4 0%,#327ffe 50%,#21cae9 100%);
		}
		.bg-gradient1{
			background: #4264d1; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #4264d1 0%, #819ff5 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #4264d1 0%,#819ff5 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #4264d1 0%,#819ff5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.bg-gradient2{
			background: #d2d1d7; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #d2d1d7 0%, #fff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #d2d1d7 0%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #d2d1d7 0%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.bg-soft-gradient:before{
			opacity: 0.9;
			background: #327ffe;
			background: -moz-linear-gradient(45deg, #754ef4 0%, #327ffe 50%, #21cae9 100%);
			background: -webkit-linear-gradient(45deg, #754ef4 0%,#327ffe 50%,#21cae9 100%);
			background: linear-gradient(45deg, #754ef4 0%,#327ffe 50%,#21cae9 100%);
		}
		.bg-soft-gradient1:before{
			opacity: 0.9;
			background: #4264d1; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #4264d1 0%, #819ff5 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #4264d1 0%,#819ff5 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #4264d1 0%,#819ff5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.bg-soft-gradient2:before{
			opacity: 0.9;
			background: #5642d1; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #5642d1 0%, #5bc2ed 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #5642d1 0%,#5bc2ed 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #5642d1 0%,#5bc2ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}

/* Page Styles */

/* UNFOLD NAVIGATION */
	/* Navigation Colors - hover and active */
	#navigation.modern .columns ul li a:hover,
	#navigation.modern.scrolled .columns ul li a:hover,
	#navigation.modern .columns ul.nav > li.active > a{
		color:#fff;
	}
	/* Navigation styles - You can see navigation hover and active colors in the content/antares/css/style.css file. */
	#navigation.modern.white-nav .columns ul li a,
	#navigation.modern.white-nav .columns ul li button{ font-size:11px; font-weight: 700; }
	/* Mega menu and dropdown styles */
	#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu.mega-menu li a{ font-size: 11px; letter-spacing: 0px; font-weight: 700; text-transform: uppercase; }
	#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu li a{ font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0px; }


/* Home */
	.home{ padding:300px 15px; }
	.home .home-title{ font-size: 45px; line-height: 50px; font-weight: 300; margin:10px 0; }
		/* Max height response for home */
		@media only screen and (min-height: 1200px){ .home{ padding:400px 10px; } }
		@media only screen and (max-height: 900px){ .home{ padding:240px 10px; } }
		@media only screen and (max-height: 750px){ .home{ padding:190px 10px; } .home .home-title{ font-size: 37px; line-height: 41px; letter-spacing: -1px; margin:5px 0; } }
		/* Max width response for home */
		@media only screen and (max-width: 861px){ .home .home-title{ font-size: 32px; line-height: 37px; letter-spacing: -1px; margin:5px 0; } }
		@media only screen and (max-width: 641px){ .home .home-title{ font-size: 29px; line-height: 33px; } }
		@media only screen and (max-width: 481px){ .home .home-title{ font-size: 24px; line-height: 28px; } }

/* About */
	.about .slider-for-boxes{ position: relative; z-index: 20; background:white; margin-top:-110px; box-shadow: 2px 20px 45px 5px rgba(0,0,0,0.08); }
		@media only screen and (max-width: 861px){
			.about .slider-for-boxes{ margin-top:15px; }
		}
	.about .box{ text-align: center; background:white; padding: 50px 35px 42px; color:#777; -webkit-transition: background 0.2s; -moz-transition: background 0.2s; transition: background 0.2s; }
	.about .slick-list{ height: auto !important; }
	.about .box:hover{ background-color:#f4f4f4; }
	/* Box texts */
	.about .box .box-icon{ font-size:45px; color:#c3c3c3; }
	.about .box .box-title{ font-weight: 700; font-size:19px; margin:15px auto; color:#555; letter-spacing: -1.4px;}
	.about .box .box-description{ font-size:15px; line-height: 25px; }
	.about .box .box-button{ margin-top:15px; display: inline-block; padding:7px 35px; }
		@media only screen and (max-width: 769px){.about .box{ padding: 25px 10px; }}
		@media only screen and (max-width: 481px){
			.about .box{ padding: 25px 10px 25px; }
			.about .box .box-title{ font-size:17px; margin:7px auto; letter-spacing: -1px;}
		}




/* Portfolio */
	.works-container{ width: 94%; margin:0 auto; }
	.works-container .cbp-caption-activeWrap{ background-color:rgba(0,0,0,0.4); }
	.works-container .cbp-item:hover .cbp-caption-defaultWrap{ -ms-transform: scale(1.05); -webkit-transform: scale(1.05); transform: scale(1.05); }
	.works-container .cbp-l-caption-alignLeft{width: 100%;height: 100%;display: table;}
	.works-container .cbp-l-caption-alignLeft .cbp-l-caption-body{display: table-cell;vertical-align: middle;text-align: center;color: white;}
	.works-container .detail{ font-size:13px; opacity: 1; position: relative; text-transform: uppercase; font-weight: 900; color:white; }


/* Services */
	.services .box{ padding:75px 40px; }

































/* Page Styles */
