
/* Blogger Demo Styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900,900i');

	/* Body Options */
	body{ font-family: 'lato', sans-serif; font-weight: 400; letter-spacing: 0px; }
	body *{outline:none;}

/* Health COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#9e33e2 !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#9e33e2 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#9e33e2 !important; }
	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#4264d1 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#4264d1 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#4264d1 !important; }
	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#c09066 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#c09066 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#c09066 !important; }
	::selection{ background-color:#9e33e2 !important; }
	/* Colors to qdr-hovers */
	.qdr-hover:after{background-color:#363636;}
	.qdr-hover-5:before{ background-color:#aaa; }
	.qdr-hover-1:before,
	.qdr-hover-1-left:before,
	.qdr-hover-1-right:before,
	.qdr-hover-1-bottom:before{background-color:rgba(0,0,0,0.1);}
	.qdr-hover-2:before,.qdr-hover-2-vertical:before{background-color:#333;}
	.qdr-hover-2-rotate:before{background-color:#333;}
	/* Other Colors */

		.bg-gradient{
			background: #7c21e2; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #7c21e2 0%, #ac2de1 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #7c21e2 0%,#ac2de1 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #7c21e2 0%,#ac2de1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.bg-gradient1{
			background: #4264d1; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #4264d1 0%, #819ff5 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #4264d1 0%,#819ff5 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #4264d1 0%,#819ff5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.bg-gradient2{
			background: #d2d1d7; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #d2d1d7 0%, #fff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #d2d1d7 0%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #d2d1d7 0%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.bg-soft-gradient:before{
			opacity: 0.9;
			background: #5642d1; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #7c21e2 0%, #ac2de1 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #7c21e2 0%,#ac2de1 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #7c21e2 0%,#ac2de1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.bg-soft-gradient1:before{
			opacity: 0.9;
			background: #4264d1; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #4264d1 0%, #819ff5 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #4264d1 0%,#819ff5 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #4264d1 0%,#819ff5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.bg-soft-gradient2:before{
			opacity: 0.9;
			background: #5642d1; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #5642d1 0%, #5bc2ed 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #5642d1 0%,#5bc2ed 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to 45deg,  #5642d1 0%,#5bc2ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}

/* Page Styles */

	/* Home */
		.home{ height: 800px; }
			@media only screen and (min-height: 1280px){ .home{ height: 950px; } }
			@media only screen and (max-height: 960px){ .home{ height: 680px; } }
			@media only screen and (max-height: 780px){ .home{ height: 530px; } }
	/* Hover for icon-nav */
		.icon-navigation:hover{ opacity: 1 !important; }
	/* Anouncement */
		.announcement{ position: absolute; width: 100%; lefT:0%; top:0; cursor: default; padding:25px 20px; color:#8a8a8a; font-size:18px; background:white; z-index: 20; box-shadow: 2px 20px 45px 5px rgba(0,0,0,0.08); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
		.announcement span.close-btn{ position: absolute; width: 30px; height: 30px; line-height: 30px; border-radius: 100%; right: 3%; top:50%; opacity: 0; cursor: pointer; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
		.announcement:hover span.close-btn{ opacity: 1; }
		.announcement span.close-btn:hover{ color:#9e33e2; }
			@media only screen and (max-width: 1185px){
				.announcement{ width: 95%; lefT:2.5%; }
			}
	/* Posts */
		.posts{ margin-top:140px; text-align: center; color:#999; overflow: hidden !important; -webkit-transition: margin 0.8s cubic-bezier(0.77, 0, 0.2, 1); -moz-transition: margin 0.8s cubic-bezier(0.77, 0, 0.2, 1); transition: margin 0.8s cubic-bezier(0.77, 0, 0.2, 1); }
		.posts.announcement-closed{ margin-top:-85px; }
		.posts *{ overflow: visible !important; }
		.posts .post .post-container{ background:White; padding:21px; box-shadow: 2px 20px 45px 5px rgba(0,0,0,0.08); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
		.posts .post:hover .post-container{ box-shadow: 2px 24px 55px 5px rgba(0,0,0,0.2); }
		/* Post IMG */
		.posts .post .post-container .post-img{ overflow: hidden !important; display: block; }
		.posts .post .post-container .post-img img{ -webkit-transition: all 0.8s; -moz-transition: all 0.8s; transition: all 0.8s; }
		.posts .post .post-container .post-img:hover img{ -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); }
		/* Post Texts */
		.posts .post .post-container .post-sender{ margin-top:25px; }
		.posts .post .post-container .post-sender a:hover{ text-decoration: underline; }
		.posts .post .post-container .post-title{ font-size:21px; }
		.posts .post .post-container .post-title:hover{ color:#888; }
		.posts .post .post-container .post-date{ color:#aaa; margin-top:10px; font-size:12px; }
		.posts .post .post-container .post-date a{ margin-right: 6px; }
		.posts .post .post-container .post-date a:hover{ color:#888; text-decoration: underline; }
		.posts .post .post-container .post-date a.post-likes:hover{ color:#c126ed; text-decoration: none; }
		.posts .post .post-container .post-message{ font-size:16px; line-height: 27px; margin-top:10px; color:#a9a9a9; }
		/* Post button */
		.posts .post .post-container .post-button{ width: 65%; height: 35px; line-height: 35px; font-size:15px; overflow: hidden !important; position: relative; margin-top:25px; margin-bottom:10px; display: inline-block; background-color:transparent; border-bottom:1px solid #ddd; }
		.posts .post .post-container .post-button:before{ left:-32%; position: absolute; top:0; width: 100%; height: 100%; opacity: 0; line-height: inherit; content:'Read More'; background-color: transparent; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
		.posts .post .post-container .post-button:hover:before{ left:0; opacity: 1; color:white; }
		.posts .post .post-container .post-button i{ position: relative; left:0; z-index: 5; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
		.posts .post .post-container .post-button:hover i{ left:32%; color:white; }
		/* More Post button */
		.more-post-button{ margin-top:100px; padding:10px 60px; border:1px solid #ccc; display: inline-block; border-radius: 60px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
		.more-post-button:hover{ color:white; background-color:#9e33e2; border-color:#9e33e2; box-shadow: 2px 20px 45px 5px rgba(0,0,0,0.2); }
		.more-post-button.cbp-l-loadMore-stop{ background-color:transparent !important; cursor: not-allowed !important; color:#ccc !important; border-color:#ddd !important; box-shadow:none !important; }
	/* Sub Pages */
		/* Single Post */
		.single-blog-post{ margin-top:-85px; padding:21px; background:white; font-size:16px; color:#888; position: relative; z-index: 5; box-shadow: 2px 20px 45px 5px rgba(0,0,0,0.08);}
		.single-blog-post .top-text{ margin-top:29px; margin-bottom:50px; }
		.single-blog-post .post-img{ margin-bottom:20px; }
		.single-blog-post .post-img img{ width: 100%; height: auto; }
		.single-blog-post .texts{ padding:50px 15px; line-height: 220%;}
