
/* Etna Demo Styles */

	/* Page Fonts */
	@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,600);
	@import url(https://fonts.googleapis.com/css?family=Bad+Script);
	.dosis{font-family: 'Dosis', sans-serif !important;}
	.badscript{font-family: 'Bad Script', cursive !important;}

	body{ font-family: 'Dosis', sans-serif; font-weight: 400; letter-spacing: 1px; color:#6c6c6c;}
	body *{outline:none;}


/* COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#b4a697 !important; }
	.bg-colored, .bg-colored-hover:hover{ background-color:#b4a697 !important;}
	.border-colored, .border-colored-hover:hover{ border-color:#b4a697 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#a4a8b2 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#a4a8b2 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#a4a8b2 !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#eae3dc !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#eae3dc !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#eae3dc !important; }

	::selection{ background-color:#b4a697; }

/* Other Colors */

	div#sidebar{background-color:#2b2c31;}
	/* Soft Backgrounds */
	.bg-soft-colored:before{background-color:rgba(180,166,151,0.7);}
	.bg-soft-colored1:before{background-color:rgba(107,113,129,0.9);}
	.bg-soft-colored2:before{background-color:rgba(36,37,42,0.8);}
	.qdr-hover:before,
	/* Tooltip buttons on services */
	.services-with-product .services-body li a{
		background-color:#b4a697;
	}
	/* Sliding hover effect color */
	.qdr-hover:after,
	.qdr-hover-1:before,
	.qdr-hover-1-left:before,
	.qdr-hover-1-right:before,
	.qdr-hover-1-bottom:before,
	.qdr-hover-2:before,.qdr-hover-2-vertical:before,
	.qdr-hover-2-rotate:before{
		background-color:#4c5260;
	}
	/* Home notes hover effects  */
	#etna_home_notes .home-content .right .content-boxes a:hover i,
	#etna_home_notes .home-content .right .content-boxes a:hover h2,
	#etna_home_notes .home-content .right .content-boxes a:hover p{
		color:#dec4aa;
	}
	/* Categories and sliding hover's first step color */
	#categories .cbp-caption,.qdr-hover:after{
		background-color:#6b7181;
	}

/* Navigation */
	#navigation.modern .columns ul.dropdown-menu{ background-color:#31343a; }
	#navigation.modern .columns ul.dropdown-menu li a:hover{ background-color:#393c44; }
	#navigation.modern.white-nav .columns  .nav-menu > .nav > li > a:before{ background-color:#4a5163; }
	#navigation.modern.white-nav.scrolled .columns  .nav-menu > .nav > li > a:before{ background-color:#4a5163; }

/* Footer bottom color */
	footer.classic_footer .footer-bottom,
	footer.classic_footer ul li a:hover{
		background-color:#24252a;
	}



/* ETNA VERSION MAIN STYLES
================================================== */

/* ETNA NAVIGATION */
	#navigation.modern.white-nav .columns ul.dropdown-menu li a:hover{ background:rgba(250,250,250,1); }
	/* Navigation Colors - hover and active */
	#navigation.modern .columns ul li a:hover,
	#navigation.modern.scrolled .columns ul li a:hover,
	#navigation.modern .columns ul.nav > li.active > a{
		color:#b4a697 !important;
	}
	/* Navigation styles - You can see navigation hover and active colors in the content/antares/css/style.css file. */
	#navigation.modern .columns ul li a,
	#navigation.modern .columns ul li button{ font-size:13px; font-weight: 600; }
	#navigation.modern.white-nav.start-dark .columns a{ color:#686b76; }
	/* Mega menu and dropdown styles */
	#navigation.modern.white-nav .columns ul.dropdown-menu.mega-menu li a{ font-size: 13px; letter-spacing: 0.3px; font-weight: 600; text-transform: uppercase; }
	#navigation.modern.white-nav .columns ul.dropdown-menu li a{ font-size: 13px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.3px; }
	#navigation.modern.white-nav.start-dark .columns ul.dropdown-menu li a,
	#navigation.modern.white-nav.scrolled .columns .nav-menu>.nav>li>a,
	#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu li a{ color: #686b76; }
	/* Mobile Navigation background and hover/active colors */
	#mobile-navigation{ background-color:#26272c; }
	#mobile-navigation a:active,
	#mobile-navigation a:focus,
	#mobile-navigation a:hover,
	#mobile-navigation li.active a,
	#mobile-navigation li.active a.touchme,
	#mobile-navigation .dropdown-menu a{
		background-color:#202125;
	}

/* ETNA TITLES */
	.title{ color:#6e6e6e; font-size:35px; font-weight: normal; text-transform: uppercase; padding:0; margin:0 0 25px 0; }
	.title.light-title{ color:#d5d5d5; }
	.description{ color:#696868; line-height: 26px; font-size:17px; padding:0; margin:30px auto 0; }
	.description.light-title{ color:#d1d1d1; }

		@media only screen and (max-width: 960px){
			.title{max-width: 95% !important;}
			.description{max-width: 95% !important;}
		}

/* ETNA HOME */
	#etna_home_notes{ position: relative; z-index: 99; top: 0; padding-bottom:60px; height: auto; }
	#etna_home_notes .notes{ position: relative; top: -90px; }
	#etna_home_notes .left-note{ padding-left:40px; max-width: 270px; border-left:2px solid white; float: left; position: relative; width: 15%; width: calc((100% - 1170px) / 2); }
	#etna_home_notes .home-content{ float: right; right: 0; /* Old Browsers */ width: 80%; width: calc(100% - ((100% - 1170px) / 2)); height: auto; background:orange; position: relative; -webkit-transform: translateY(-60px); -moz-transform: translateY(-60px); -ms-transform: translateY(-60px); transform: translateY(-60px); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	#etna_home_notes .home-content.hiding{ -webkit-transform: translateY(90px); -moz-transform: translateY(90px); -ms-transform: translateY(90px); transform: translateY(90px); }
	#etna_home_notes .home-content>div{ float: left; height: auto; padding:45px 25px 45px 25px; }
	#etna_home_notes .home-content .left{ width: 25%; background-repeat: repeat; }
	#etna_home_notes .home-content .left h1{ font-size: 40px; letter-spacing: 2px; }
	#etna_home_notes .home-content .right{ width: 75%; }
	#etna_home_notes .home-content .right .content-boxes{ max-width: 100%;  padding:0; }
	#etna_home_notes .home-content .right a{ position: relative;  overflow: hidden;  display: block; }
	#etna_home_notes .home-content .right .content-boxes i{ font-size:22px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	#etna_home_notes .home-content .right .content-boxes h2{ font-size:20px; font-weight: lighter; text-transform: uppercase; color:#fbfbfd; margin:12px 0; padding:0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	#etna_home_notes .home-content .right .content-boxes p{ font-size:16px; font-weight: lighter; color:#fbfbfd; margin:0; padding: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

		@media only screen and (max-width: 1650px){
			#etna_home_notes .left-note{padding-left:20px; width: 160px;}
			#etna_home_notes .home-content{width: calc(100% - 180px);}
		}
		@media only screen and (max-width: 1300px){
			#etna_home_notes .left-note{width: 250px; float: none; bottom:30px;}
			#etna_home_notes .home-content{width: 100%; flex: none;}
			#etna_home_notes .home-content .left h2{font-size:28px !important; line-height: 30px !important;}
		}
		@media only screen and (max-width: 1170px){
			#etna_home_notes .about-notes{padding-left:15px; padding-right: 15px;}
			.title-strips.strips-left{margin-left:15px !important;}
		}
		@media only screen and (max-width: 900px){
			#etna_home_notes .home-content .left,#etna_home_notes .home-content .right,#etna_home_notes .vertical-center{float: none; width:100%; height: auto !important; margin-top:0 !important;}
			#etna_home_notes .home-content .right a{margin-top:30px !important;}
		}
		@media only screen and (max-height: 640px){
			#etna_home_notes .home-content .left h1{ font-size: 30px; letter-spacing: 1px; }
			#etna_home_notes .home-content .left h1 span{ display: inline-block; }
			#etna_home_notes .home-content>div{ padding:45px 15px 45px 15px; }
			#etna_home_notes .left-note{bottom:0;}
		}

/* ETNA TEAM */
	.team-type-2{ text-align: center; }
	.team-type-2 .custom-slider, .team-type-2.custom-slider{ margin-top: 50px; }
	.team-type-2 .member{ margin:0 15px; height: auto; position: relative; }
	.team-type-2 .member img{ width: 100%; height: auto; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
	.team-type-2 .member:hover img{ opacity: 0.35; }
	.team-type-2 .member .member-body{ background-color:#000; position: relative; }
	/* Progress Bars */
	.team-type-2 .member .team-progress{ position: absolute; bottom:25px; left:0; width: 100%; opacity: 0; overflow: hidden; }
	.team-type-2 .member .team-progress .prg-bg{ width: 100%; background-color:#e8e8e8; padding: 0; margin: 0; }
	.team-type-2 .member .team-progress .progress-bar{ height: 5px; padding:0; float: none; margin-top:15px; position: relative; left:0; min-width: 40%; box-shadow: none; }
	.team-type-2 .member:hover .team-progress{ opacity: 1; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }
	/* Progress Texts */
	.team-type-2 .member .team-progress h3{ font-size:16px; color:#666; margin-top: 30px; white-space: nowrap; font-weight: normal; text-transform: uppercase; padding: 0;}
	/* Member Description Texts */
	.team-type-2 .member .member-description h2{font-size: 22px; margin:0; padding:0; text-transform: uppercase;}
	.team-type-2 .member .member-description h4{font-size: 16px; margin:17px auto 14px; padding:0; text-transform: uppercase;}
	.team-type-2 .member .member-description p{font-size: inherit; line-height: 22px; margin:0; padding: 0;}
	/* Member Description Styles and hover */
	.team-type-2 .member .member-description{color:#858585; position: relative; width: 100%; height: auto; left:0; padding:20px 25px; opacity: 1; top: 0; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	.team-type-2 .member:hover .member-description{ color: white; }
	/* Member Socials */
	.team-type-2 .member .member-socials{ position: absolute; bottom:0; height: 60px; left:0; width: 100%; text-align: center; overflow: hidden; }
	.team-type-2 .member .member-socials a{ display: block; width: 37px; height: 37px; line-height: 37px; color:#949596; margin:0 5px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.team-type-2 .member .member-socials div{ top:100%; position: relative; display: inline-block; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.team-type-2 .member:hover .member-socials div{ top:0; }
	.team-type-2 .member .member-socials a:hover{ color:white; }
	/* Member Social Delays */
	.team-type-2 .member:hover .member-socials div:nth-of-type(1){ -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(2){ -webkit-transition-delay: 0.4s; transition-delay: 0.4s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(3){ -webkit-transition-delay: 0.5s; transition-delay: 0.5s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(4){ -webkit-transition-delay: 0.6s; transition-delay: 0.6s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(5){ -webkit-transition-delay: 0.7s; transition-delay: 0.7s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(6){ -webkit-transition-delay: 0.8s; transition-delay: 0.8s; }

/* ETNA CATEGORIES */
	#categories { position: relative; background-color:#fcfcfc; }
	#categories .cbp-l-caption-alignLeft{ width: 100%; height: 100%; display: table; }
	#categories .cbp-caption-zoom .cbp-caption-activeWrap{ background: transparent; opacity: 1; }
	#categories .cbp-caption-defaultWrap{ -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
	#categories .cbp-item:hover .cbp-caption-defaultWrap{ transform: scale(1.05); }
	#categories .cbp-caption-defaultWrap img{ opacity: 0.2; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
	#categories .cbp-item:hover .cbp-caption-defaultWrap img{ opacity: 1; }
	#categories .cbp-l-caption-alignLeft .cbp-l-caption-body{ display: table-cell; vertical-align: middle; text-align: center; color: white; position: relative; top:0; text-shadow:2px 2px 2px rgba(0,0,0,0.1); }
	#categories h2.title{ color:white; font-size:23px; padding:0; margin:0; position: relative; }
	#categories p.desc{ font-size:15px; margin:0; color:#e8e8e8; font-weight: 500; position: relative; }
	#categories .cbp-item:hover .cbp-l-caption-alignLeft .cbp-l-caption-body h2{ opacity: 0; margin-left:50px; }
	#categories .cbp-item:hover .cbp-l-caption-alignLeft .cbp-l-caption-body p{ opacity: 0; margin-left:-50px; }

/* ETNA WORKS */
	#works .cbp-caption-activeWrap{ background-color:#212121; }
	#works .cbp-caption-activeWrap h2{ color:#b2b2b2; font-size:22px; margin:0; padding:0; margin-bottom:7px; }
	#works .cbp-caption-activeWrap p{ font-size:16px; margin:0; padding:0; }
	#works .cbp-item:hover .cbp-caption-defaultWrap{ transform: scale(1.0);}
	/* filters */
	#works #filters.cbp-l-filters-text .cbp-filter-item{font-family:inherit !important; font-size:17px; font-weight: 400; margin-top:50px;}





/* Edit gray8 colors on ajax pages */
	footer .gray8{ color:#ccc !important; }
