
/* Everest Demo Styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
	@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900,900i');

	/* Body Options */
	body{ font-family: 'lato', sans-serif; font-weight: 400; letter-spacing: 0px;}
	body *{outline:none;}

/* Health COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#6551e2 !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#6551e2 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#6551e2 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#4264d1 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#4264d1 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#4264d1 !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#5642d1 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#5642d1 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#5642d1 !important; }

	::selection{ background-color:#4264d1 !important; }

	/* Colors to qdr-hovers */
	.qdr-hover:after{background-color:#363636;}
	.qdr-hover-5:before{ background-color:#aaa; }
	.qdr-hover-1:before,
	.qdr-hover-1-left:before,
	.qdr-hover-1-right:before,
	.qdr-hover-1-bottom:before{background-color:rgba(0,0,0,0.1);}
	.qdr-hover-2:before,.qdr-hover-2-vertical:before{background-color:#333;}
	.qdr-hover-2-rotate:before{background-color:#333;}

/* Other Colors */

	.bg-gradient{
		background: #5642d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #5642d1 0%, #6f5bed 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #5642d1 0%,#6f5bed 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #5642d1 0%,#6f5bed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-gradient1{
		background: #4264d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #4264d1 0%, #819ff5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #4264d1 0%,#819ff5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #4264d1 0%,#819ff5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-gradient2{
		background: #d2d1d7; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #d2d1d7 0%, #fff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #d2d1d7 0%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #d2d1d7 0%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-soft-gradient:before{
		opacity: 0.9;
		background: #5642d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #5642d1 0%, #6f5bed 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #5642d1 0%,#6f5bed 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #5642d1 0%,#6f5bed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-soft-gradient1:before{
		opacity: 0.9;
		background: #4264d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #4264d1 0%, #819ff5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #4264d1 0%,#819ff5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #4264d1 0%,#819ff5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-soft-gradient2:before{
		opacity: 0.9;
		background: #5642d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #5642d1 0%, #5bc2ed 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #5642d1 0%,#5bc2ed 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #5642d1 0%,#5bc2ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

/* Page Styles */

/* EVEREST NAVIGATION */
	/* Navigation Colors - hover and active */
	#navigation.modern .columns ul li a:hover,
	#navigation.modern.scrolled .columns ul li a:hover,
	#navigation.modern .columns ul.nav > li.active > a{
		color:#8099f4 !important;
	}
	/* Navigation styles - You can see navigation hover and active colors in the content/antares/css/style.css file. */
	#navigation.modern .columns ul li a,
	#navigation.modern .columns ul li button{ font-size:12px; font-weight: 700; }
	/* Mega menu and dropdown styles */
	#navigation.modern.white-nav .columns ul.dropdown-menu.mega-menu li a{ font-size: 14px; font-weight: 500; }
	#navigation.modern.white-nav .columns ul.dropdown-menu li a{ font-size: 14px; font-weight: 400;  }


/* Home */
	.home{ height: 100vh; }
	.home .home-title{ font-size:42px; }
		@media only screen and (max-width: 1481px){ .home .home-title{ font-size:33px; } }
		@media only screen and (max-width: 869px){ .home .home-title{ font-size:27px; } }
		@media only screen and (max-width: 640px){ .home .home-title{ font-size:23px; } }
		@media only screen and (max-width: 480px){ .home .home-title{ font-size:19px; } }

	.home .page-bottom-boxes{ position: absolute; bottom:40px; width: 100%; margin: 0; padding: 0; }
	/* Box Content */
	.home .page-bottom-boxes .box{ height: 200px; }
	.home .page-bottom-boxes .box .box-content{ width: 95%; left:2.5%; height: 0px; position: absolute; bottom:0; border-top:1px solid rgba(255,255,255,0.2); overflow: hidden; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.3s; }
	.home .page-bottom-boxes .box:hover .box-content{ height: 60px; border-top:transparent; }
		@media only screen and (max-width: 992px){
			.home .page-bottom-boxes .box{ height: 60px; }
			.home .page-bottom-boxes .box .box-content{ height: 60px; border-top:transparent; }
		}
		@media only screen and (max-width: 640px){
			.home .page-bottom-boxes{ bottom:20px; }
			.home .page-bottom-boxes .box .box-content,
			.home .page-bottom-boxes .box{ height: 45px; font-size: 16px; }
			.home .page-bottom-boxes .box:hover .box-content{ height: 45px; }
		}
	/* Links on home */
	.home .page-bottom-boxes .box .box-content a{ width: 100%; height: 65px; display: block; line-height: 65px; opacity:1 ; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
		@media only screen and (max-width: 640px){ .home .page-bottom-boxes .box .box-content a{ height: 45px; display: block; line-height: 45px; } }

	/* Next&Prev Arrows */
	.home .slick-arrow{ width: 65px; height: 150px; position: absolute; right: 0px; top:50%; margin-top:-75px; z-index: 5; padding: 0; background: transparent; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.home .slick-arrow span{ width: 0px; height: 1px; background: white; position: absolute; display: block; left:20px; opacity: 0; visibility: hidden; -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); }
	.home .slick-arrow:before, .home .slick-arrow:after{ width: 18px; height: 1px; background: white; content:''; position: absolute; left:10px; -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); }
	/* Next rotate options */
	.home .slick-arrow.slick-next:before{ margin-top:-6px; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
	.home .slick-arrow.slick-next:after{ margin-top:6px; -ms-transform: rotate(-45deg); transform: rotate(-45deg); transform: rotate(-45deg); }
	/* Reverse - Previous settings */
	.home .slick-arrow.slick-prev{ right: auto; left:0px; }
	.home .slick-arrow.slick-prev span{ left: auto; right: 20px; }
	.home .slick-arrow.slick-prev:before, .home .slick-arrow.slick-prev:after{ left:auto; right:10px; }
	.home .slick-arrow.slick-prev:before{ margin-top:6px; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
	.home .slick-arrow.slick-prev:after{ margin-top:-6px; -ms-transform: rotate(-45deg); transform: rotate(-45deg); transform: rotate(-45deg); }
	/* Hover for desktops */
	@media only screen and (min-width: 640px){
		.home .slick-arrow:hover{ background-color:rgba(0,0,0,0.17); }
		.home .slick-arrow:hover span{ width: 50px; left:-15px; opacity: 1; visibility: visible; }
		.home .slick-arrow:hover:before, .home .slick-arrow:hover:after{ left:23px; }
		/* Hover to prev */
		.home .slick-arrow.slick-prev:hover span{ left:auto; right:-15px; }
		.home .slick-arrow.slick-prev:hover:before, .home .slick-arrow.slick-prev:hover:after{ left:auto; right:23px; }
		/* Texts to arrows when mouse over */
		.home .slick-arrow span:before{ position: absolute; content:'Next'; display: block; right:16px; top:-30px; opacity: 0; width:0px; white-space: nowrap; overflow: hidden; font-family: 'Playfair Display', serif; font-style: italic; font-size: 17px; -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); }
		.home .slick-arrow.slick-prev span:before{ left:16px; right: auto; content:'Previous'; }
		/* to previous */
		.home .slick-arrow:hover span:before{ right:22px; width: 40px; opacity: 1; -webkit-transition-delay: 0.4s; transition-delay: 0.4s; }
		.home .slick-arrow.slick-prev:hover span:before{ left:22px; width: 70px; }
	}

	@media only screen and (max-width: 640px){
		.home .slick-arrow{ width: 35px; height: 60px; margin-top:-30px; opacity: .5;}
		.home .slick-arrow:active{ background-color:#333; opacity: 1; }
	}





/* Contents */
	.contents .content-box{ padding:135px 60px; display: table; table-layout: fixed; overflow: hidden; }
	.contents .content-box.litle-pd{ padding:135px 35px; }
	.contents .inner{ display: table-cell; vertical-align: middle; width: 100%; height: 100%; }
	.contents .content-box.no-pd{ padding:0; }
		@media only screen and (max-width: 1281px){
			.contents .content-box{ padding:70px 40px; }
			.contents .content-box.litle-pd{ padding:70px 25px; }
		}
		@media only screen and (max-width: 992px){ .contents .content-box{ padding:0 15px; height: auto !important; min-height: 450px; } }
		@media only screen and (max-width: 769px){ .contents .content-box{ width: 100%; padding:25px; } }
	/* Inner Slider */
	.contents .content-box .custom-slider img{ width: auto; height: auto; min-width: 100%; min-height: 100%; position: relative; left:50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }

/* Services */
	.services .box{ padding:75px 40px; margin:15px 15px 25px; }
		@media only screen and (max-width: 480px){ .services .box{ padding:45px 30px; margin:15px 5px 15px; } }

/* Projects */
	.projects .moving-container{ padding:60px 60px 80px; }
	.projects .project{ position: relative; padding:0 !important; }
	.projects .project .left-img{ position: absolute; left:0; top:0; height: 100%; }
	.projects .project .right-details{ padding:43px 53px; }
		@media only screen and (max-width: 992px){ .projects .project .left-img{ position: relative; min-height: 400px; left:0; top:0; height: 100%; } }
		@media only screen and (max-width: 640px){
			.projects .moving-container{ padding:10px; margin-bottom:40px; }
			.projects .project .right-details{ padding:30px 21px 60px; }
		}

	.projects button.slick-arrow{ width: 70px; height: 30px; font-family: 'FONTAWESOME'; font-size: 35px; color:#ccc; z-index: 20; background: transparent; position: absolute; top:-20px; left:50%; transform: translateX(10px); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
		@media only screen and (max-width: 640px){ .projects button.slick-arrow{ top: -40px; } }
	.projects button.slick-arrow.slick-arrow:hover{ color:#888; }
	.projects button.slick-arrow.slick-prev{ transform: translateX(-80px); }
	.projects button.slick-arrow.slick-prev:before{ content:'\f104' }
	.projects button.slick-arrow.slick-next:before{ content:'\f105' }

