
/* Business Demo Styles
================================================== */

	/* Page Fonts */
	@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,300,300italic);
	.merriweather{font-family: 'Merriweather', sans-serif !important;}

	/* Body Options */
	body{ font-family: 'Merriweather', sans-serif; font-weight: 300; letter-spacing: 0px; }
	body *{outline:none !important;}

/* COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover, .soft-video-play-btn{ color:#ecb86d !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#ecb86d !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#ecb86d !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#7c716c !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#7c716c !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#7c716c !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#c8af8c !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#c8af8c !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#c8af8c !important; }

	::selection{ background-color:#ecb86d; }

/* Other Colors */

    .hesperiden .tp-bullet:hover, .hesperiden .tp-bullet.selected{ background-color:#ecb86d; }

    .bg-gradient{
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9b187+0,ecbe6d+100 */
		background: #e9b187; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #e9b187 0%, #ecbe6d 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #e9b187 0%,#ecbe6d 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #e9b187 0%,#ecbe6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9b187', endColorstr='#ecbe6d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	/* Hover Colors */
	.qdr-hover-5:before{ background-color:#ecb86d; }
	.qdr-hover:after{background-color:#363636;}
	.qdr-hover-1:before,
	.qdr-hover-1-left:before,
	.qdr-hover-1-right:before,
	.qdr-hover-1-bottom:before{background-color:rgba(0,0,0,0.1);}
	.qdr-hover-2:before,.qdr-hover-2-vertical:before{background-color:#584f48;}
	.qdr-hover-2-rotate:before{background-color:#333;}
	/* Sliding hover type, background color */
	.qdr-hover:before,
	.custom-slider.strip-dots > .slick-dots li.slick-active button{
		background-color:#ecb86d;
	}

/* BUSINESS VERSION MAIN STYLES
================================================== */


/* BUSINESS NAVIGATION */
	/* Navigation Colors - hover and active */
	#navigation.modern .columns ul li a:hover,
	#navigation.modern.scrolled .columns ul li a:hover,
	#navigation.modern .columns ul.nav > li.active > a{
		color:#ecb86d !important;
		background-color:#fbfbfb !important;
	}
	#navigation.modern .columns ul li a,
	#navigation.modern .columns ul li button{ font-size:11px; font-weight: 500; }
	/* Mega menu and dropdown styles */
	#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu.mega-menu li a{ color:#666; font-size: 12px; letter-spacing: 0px; font-weight: 400; }
	#navigation.modern.white-nav .columns .nav-menu ul.dropdown-menu li a{ color: #666; font-size: 12px; font-weight: 400; letter-spacing: 0px; }

/* BUSINESS TITLES */
	.title{ color:#7c716c; font-size:35px; font-weight: 300; text-transform: uppercase; padding:0; margin:0 0 30px 0; }
	.title.big{ font-size:45px; }
	.title.little{ font-size:25px; }
	.title.light-title{ color:#d5d5d5; }
	.subtitle{color:#ababab; font-size:20px; font-weight: 300; padding:0; margin:0;}
	.description{ color:#868686; line-height: 26px; font-weight: normal; font-size:14px; padding:0; margin:25px auto 0; }
	.description.light-title{ color:#d1d1d1; }
		@media only screen and (max-width: 960px){
			.description{max-width: 95% !important;}
			.title{ font-size: 26px; }
			.title.big{ font-size: 32px; }
			.title.little{ font-size:21px; }
			.subtitle{font-size:16px;}
		}

/* BUSINESS HOME CONTENT */
	#home .home-content{ font-size:17px; width: 100%; height: auto; padding:38px 0; background-color:rgba(60,60,57, 0.4); bottom:0; z-index: 99; position: absolute; color: white; font-weight: inherit; }
	#home .home-content a{ margin-left:20px; background-color:rgba(43,40,38,0.1); border:1px solid rgba(255,255,255,0.1); font-size:13px; text-transform: uppercase;}
		@media only screen and (max-width: 1000px){
			#home .home-content{ padding:15px 0; font-size:14px; }
			#home .home-content h4{ margin:0 auto; padding: 0; font-size: 12px; }
			#home .home-content a{ font-size:11px; padding:8px 17px;}
		}

/* BUSINESS PRODUCTS */
	/* Play Button */
	#products #product_slider .product-playbtn{ opacity: 0.6; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	#products #product_slider .product-playbtn:hover{ opacity: 0.8; }
	/* Navigation Button */
	#products #product_slider .product-btn{ border:1px solid #a5a5a5; text-transform: uppercase; cursor: pointer; }
	#products #product_slider .product-btn.active{ background:transparent !important; border:1px solid #ccc; cursor: default; color:#ccc !important; }
	#products #product_slider .product-btn:hover{ background:rgba(0,0,0,0.03); }

/* BUSINESS SERVICES */
	.services-with-tabs .services.container{ margin:50px auto; }
	.services-with-tabs .services.container .cbp-l-filters-text{ font-family: inherit; padding: 0; }
	/* Filters */
	.services-with-tabs .services.container .cbp-filter-item{ display: inline-block; padding:17px 12px 16px; margin:15px 5px; font-size:15px; text-transform: uppercase; font-family: inherit; color:#575757; font-weight: 300; letter-spacing: 1px; cursor: pointer; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	.services-with-tabs .bold .cbp-filter-item,.services-with-tabs .extrabold .cbp-filter-item{ font-weight: inherit !important; }
	.services-with-tabs .services.container .cbp-filter-item:first-child{ margin-left:0; }
	.services-with-tabs .services.container .cbp-filter-item:last-child{ margin-right:0; }
	.services-with-tabs .services.container .cbp-filter-item.cbp-filter-item-active,.services-with-tabs .services.container .cbp-filter-item.cbp-filter-item-active:hover{ color:white; background-color:#ecb86d; }
	.services-with-tabs .services.container .cbp-filter-item:hover{ background-color:#f8f8f8; }
	.services-with-tabs .services.container .cbp-filter-item span{ display: block; font-size:30px; margin-bottom: 25px; margin-top:7px; color:#939393; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	.services-with-tabs .services.container .cbp-filter-item.cbp-filter-item-active:hover span,.services-with-tabs .services.container .cbp-filter-item.cbp-filter-item-active span{color:white;}
		@media only screen and (max-width: 641px){
			.services-with-tabs .services.container .cbp-filter-item{ margin: 0; padding: 15px 7px; font-size: 12px; letter-spacing: -0.1px; font-weight: 400; }
			.services-with-tabs .services.container .cbp-filter-item span{ font-size: 22px; margin:0 0 6px; }
		}
	/* Items */
	.services-with-tabs .services.container #service_items{ margin:25px 0 40px; }
	.services-with-tabs .services.container #service_items .cbp-item{ width: 100%; padding:27px; border:1px dotted #dddddd; text-align: left; letter-spacing: 0.4px; color:#747474; }
	.services-with-tabs .services.container #service_items .cbp-item h3{ color:#6f6f6f; text-transform: uppercase; padding: 0; margin:0 0 20px; font-weight: inherit; }
	.services-with-tabs .services.container #service_items .cbp-item p{ font-size:14px; line-height: 25px; font-weight: 400; }
	.services-with-tabs .services.container #service_items .cbp-item .cbp-item-wrapper>*{margin:0 0 10px;}

/* BUSINESS CATEGORIES */
	.categories-type-2{ margin:50px auto; }
	.categories-type-2 .left-details{ width: 33%; float: left; padding-right: 30px; margin-top:50px; }
	.categories-type-2 .left-details h1{ font-size:50px; margin:30px 0 0; }
	.categories-type-2 .left-details p{ font-size:13px; margin:20px 0 0; padding: 0; color:#868686; line-height: 20px;}
	.categories-type-2 .left-details h5{ font-size:17px; margin:25px 0 0; padding: 0; }
	.categories-type-2 .item{margin:0 10px !important; padding: 0; }
	.categories-type-2 .item,.categories-type-2 .item a{overflow: hidden; margin:0; position: relative; background-color:#36312e; }
	.categories-type-2 .item img{width: 100%; height: auto; position: relative; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	.categories-type-2 .item .details{position: absolute; opacity: 0; bottom: 0px; z-index: 1; text-align: center; width: 100%; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	.categories-type-2 .item .details h4{color:#d2d2d2; font-size: 22px; }
	.categories-type-2 .item .details p{color:#b5b5b5; font-size:14px; }
	.categories-type-2 .item:hover img{opacity: .6; }
	.categories-type-2 .item:hover .details{opacity: 1; bottom: 25px; }
	.categories-type-2 .slick-list{padding:50px 0; }
		@media only screen and (max-width: 1000px){
			.categories-type-2 .left-details{ float: none; width: 90%; margin-left: auto; margin-right: auto; }
			.categories-type-2 .left-details h1{ font-size: 32px; }
		}

/* BUSINESS TIMELINE COLORS */
	.strip-timeline .dates div:hover,
    .strip-timeline .dates div.active{ color:#9e8457; }
    .strip-timeline .dates div:hover:before,
    .strip-timeline .dates div.active:before{ background-color: #ecb86d; }
    .strip-timeline .dates div:hover:after,
    .strip-timeline .dates div.active:after{ border-color: #ecb86d; }

/* BUSINESS FACTS */
	#facts{ border-bottom:1px solid #e6e6e6; }
	#facts .fact{ border-right: 1px solid; border-color:#e6e6e6; height: 135px; line-height: 135px; text-align: center; overflow: hidden; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; transition: background 0.3s;  }
	#facts .fact h1,#facts .fact h2{ font-size: 40px; font-weight: 300; color:#848484; display: block; float: left; line-height: inherit; width: 30%; padding: 0 10px; margin:0; }
	#facts .fact h2{ font-size: 20px; padding:0 0 0 15px; width: 70%; text-align: left; }
	#facts .fact .texts{ position: relative; width: 100%; height: 100%; }
	#facts .fact .texts .facts{ position: absolute; left:0; top:0; width: 100%; height: 100%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	#facts .fact:hover .texts .facts{ top:100%; }
	#facts .fact .texts .fact-description{ line-height: 20px; font-size:16px; font-style: italic; color:#999; letter-spacing: 0.5px; position: absolute; top:-100%; width: 100%; height: 100%; text-align: left; padding:0 25px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	#facts .fact:hover .texts .fact-description{ top:0; }
	#facts .fact:hover{ background-color:#fafafa; }
		@media only screen and (max-width: 1200px){
			#facts .fact h1{ font-size:30px; }
		}
		@media only screen and (max-width: 1000px){
			#facts .fact h1, #facts .fact h2{ float: none; line-height: 30px; padding:0; text-align: center; margin:25px auto 0; }
			#facts .fact h2{font-size:15px;}
			#facts .fact .texts .fact-description{ font-size: 12px; line-height: 18px; padding:0 12px; }
		}
		@media only screen and (max-width: 750px){
			#facts .fact{ width: 50% !important; }
		}
		@media only screen and (max-width: 480px){
			#facts .fact{ width: 100% !important; }
		}
