
/* MEDUSA Demo Styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

	/* Body Options */
	body{ font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: -0.4px;}
	body *{outline:none;}

/* MEDUSA COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#0063bf !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#0063bf !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#0063bf !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#ec4ec7 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#ec4ec7 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#ec4ec7 !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#d5c814 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#d5c814 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#d5c814 !important; }

	::selection{ background-color:#4264d1 !important; }

	.bg-gradient{
		background: #2a2b31; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #2a2b31 0%, #32333a 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #2a2b31 0%,#32333a 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #2a2b31 0%,#32333a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-gradient1{
		background: #304ae7; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #324ad8 0%, #2e4cff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #324ad8 0%,#2e4cff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #324ad8 0%,#2e4cff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-gradient2{
		background: #d2d1d7; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #d2d1d7 0%, #fff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #d2d1d7 0%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #d2d1d7 0%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-soft-gradient:before{
		opacity: 0.9;
		background: #5642d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #5642d1 0%, #6f5bed 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #5642d1 0%,#6f5bed 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #5642d1 0%,#6f5bed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-soft-gradient1:before{
		opacity: 0.9;
		background: #4264d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #4264d1 0%, #819ff5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #4264d1 0%,#819ff5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #4264d1 0%,#819ff5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-soft-gradient2:before{
		opacity: 0.9;
		background: #5642d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #5642d1 0%, #5bc2ed 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #5642d1 0%,#5bc2ed 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #5642d1 0%,#5bc2ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

/* Page Styles */

/* Home */
/* Home Container Options For Small Screens */
		@media only screen and (max-width: 1500px){.home .container-md{ padding-left:8%; } }
		@media only screen and (max-width: 768px){.home .container-md{ padding-left:15px; } }

/* Home Title Options */
	.home .home-title{ font-size: 57px; line-height: 63px; font-weight: 700; letter-spacing: -3px; }
		/* Responsive Options for home */
		@media only screen and (max-width: 1200px){
			.home .home-title{ font-size: 50px; line-height: 55px; letter-spacing: -2px; }
		}
		@media only screen and (max-width: 768px){
			.home .hero-slider{ height: 900px !important; }
			.home .details{ padding-top:100px; }
			.home .home-title{ font-size: 34px; line-height: 39px; letter-spacing: -2px; }
		}
		@media only screen and (max-width: 700px){
			.home .home-title{ font-size: 27px; line-height: 32px; letter-spacing: -1px; }
		}
		@media only screen and (max-height: 500px){
			.home .home-title{ font-size: 22px; line-height: 26px; letter-spacing: -1px; }
			.home .details .home-title + p{ line-height: normal; margin-top:6px !important; }
			.home .details p + div{ margin-top: 15px !important; }
		}
	
/* Next&Prev Arrows */
	.home .slick-arrow{ width: 65px; height: 150px; position: absolute; right: 0px; top:50%; margin-top:-75px; z-index: 5; padding: 0; background: transparent; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.home .slick-arrow span{ width: 0px; height: 1px; background: white; position: absolute; display: block; left:20px; opacity: 0; visibility: hidden; -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); }
	.home .slick-arrow:before, .home .slick-arrow:after{ width: 18px; height: 1px; background: white; content:''; position: absolute; left:10px; -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); }
	/* Next rotate options */
	.home .slick-arrow.slick-next:before{ margin-top:-6px; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
	.home .slick-arrow.slick-next:after{ margin-top:6px; -ms-transform: rotate(-45deg); transform: rotate(-45deg); transform: rotate(-45deg); }
	/* Reverse - Previous settings */
	.home .slick-arrow.slick-prev{ right: auto; left:0px; }
	.home .slick-arrow.slick-prev span{ left: auto; right: 20px; }
	.home .slick-arrow.slick-prev:before, .home .slick-arrow.slick-prev:after{ left:auto; right:10px; }
	.home .slick-arrow.slick-prev:before{ margin-top:6px; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
	.home .slick-arrow.slick-prev:after{ margin-top:-6px; -ms-transform: rotate(-45deg); transform: rotate(-45deg); transform: rotate(-45deg); }
	/* Hover for desktops */
	@media only screen and (min-width: 640px){
		.home .slick-arrow:hover{ background-color:rgba(0,0,0,0.17); }
		.home .slick-arrow:hover span{ width: 50px; left:-15px; opacity: 1; visibility: visible; }
		.home .slick-arrow:hover:before, .home .slick-arrow:hover:after{ left:23px; }
		/* Hover to prev */
		.home .slick-arrow.slick-prev:hover span{ left:auto; right:-15px; }
		.home .slick-arrow.slick-prev:hover:before, .home .slick-arrow.slick-prev:hover:after{ left:auto; right:23px; }
		/* Texts to arrows when mouse over */
		.home .slick-arrow span:before{ position: absolute; content:'Next'; display: block; right:16px; top:-30px; opacity: 0; width:0px; white-space: nowrap; overflow: hidden; font-family: 'Playfair Display', serif; font-style: italic; font-size: 17px; -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); transition: all 0.5s cubic-bezier(0.77, 0, 0.2, 1); }
		.home .slick-arrow.slick-prev span:before{ left:16px; right: auto; content:'Previous'; }
		/* to previous */
		.home .slick-arrow:hover span:before{ right:22px; width: 40px; opacity: 1; -webkit-transition-delay: 0.4s; transition-delay: 0.4s; }
		.home .slick-arrow.slick-prev:hover span:before{ left:22px; width: 70px; }
	}

	@media only screen and (max-width: 640px){
		.home .slick-arrow{ width: 35px; height: 60px; margin-top:-30px; opacity: .5;}
		.home .slick-arrow:active{ background-color:#333; opacity: 1; }
	}

/* Category Tabs */
	.categories .tab-item{ padding:80px 15px; }
	/* Visible items options */
	.categories .tab-item .visible-item{ -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.categories .tab-item:hover .visible-item{ -webkit-transform: translateY(0%) !important; -moz-transform: translateY(0%) !important; -ms-transform: translateY(0%) !important; transform: translateY(0%) !important; }
	/* Hidden items options */
	.categories .tab-item .hidden-item{ opacity: 0; padding-top:10px; -webkit-transform: translateY(25px); -moz-transform: translateY(25px); -ms-transform: translateY(25px); transform: translateY(25px); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.categories .tab-item:hover .hidden-item{ opacity: 1; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); transform: translateY(0%); }


