
/* Feronia Demo Styles
================================================== */

	/* Page Fonts */
	@import url(https://fonts.googleapis.com/css?family=Dosis:400,500,300);
	.dosis{font-family: 'Dosis', sans-serif !important;}

	/* Body Options */
	body{ font-family: 'Dosis', sans-serif; font-weight: 300; letter-spacing: 1px; color:#303030;}
	body *{outline:none;}

/* COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#607851 !important; }
	.bg-colored, .bg-colored-hover:hover{ background-color:#607851 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#607851 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#e9d883 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#e9d883 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#e9d883 !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#8fb071 !important; }
	.bg-colored2, .bg-colored2-hover:hover, .qdr-hover:before{ background-color:#8fb071 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#8fb071 !important; }

	::selection{ background-color:#607851; }

	.bg-gradient{
		background: #327ffe;
		background: -moz-linear-gradient(45deg, #7c8e59 0%, #9ba854 50%, #739d5e 100%);
		background: -webkit-linear-gradient(45deg, #7c8e59 0%,#9ba854 50%,#739d5e 100%);
		background: linear-gradient(45deg, #7c8e59 0%,#9ba854 50%,#739d5e 100%);
	}
	.bg-gradient1{
		background: #4264d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #607851 0%, #739d5e 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #607851 0%,#739d5e 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #607851 0%,#739d5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-gradient2{
		background: #d2d1d7; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #d2d1d7 0%, #fff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #d2d1d7 0%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #d2d1d7 0%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-soft-gradient:before{
		opacity: 0.9;
		background: #327ffe;
		background: -moz-linear-gradient(45deg, #754ef4 0%, #327ffe 50%, #21cae9 100%);
		background: -webkit-linear-gradient(45deg, #754ef4 0%,#327ffe 50%,#21cae9 100%);
		background: linear-gradient(45deg, #754ef4 0%,#327ffe 50%,#21cae9 100%);
	}
	.bg-soft-gradient1:before{
		opacity: 0.9;
		background: #4264d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #4264d1 0%, #819ff5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #4264d1 0%,#819ff5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #4264d1 0%,#819ff5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.bg-soft-gradient2:before{
		opacity: 0.9;
		background: #5642d1; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #5642d1 0%, #5bc2ed 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #5642d1 0%,#5bc2ed 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to 45deg,  #5642d1 0%,#5bc2ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

/* Other Colors */
	#home .home-boxes .item:hover,
	#home .home-boxes .item.active,
	#home .home-boxes .slick-arrow:hover{
		background-color:rgba(59,75,49,0.7);
	}

	/* Soft background color */
	.bg-soft-colored:before{
		background-color:rgba(96,120,81,0.93);
	}

/* FERONIA VERSION MAIN STYLES
================================================== */


/* FERONIA NAVIGATION */
	#navigation.modern.dark-nav.scrolled{ background:rgba(40,40,40,0.9); }
	#navigation.modern.dark-nav .columns ul.dropdown-menu li a:hover{ background:rgba(35,35,35,1); }
	#navigation.modern.dark-nav .columns ul.dropdown-menu{ background:rgba(25,25,25,0.95); }
	/* Navigation Colors - hover and active */
	#navigation.modern .columns ul li a:hover,
	#navigation.modern.scrolled .columns ul li a:hover,
	#navigation.modern .columns ul.nav > li.active > a{
		color:#749643 !important;
	}
	/* Navigation styles - You can see navigation hover and active colors in the content/antares/css/style.css file. */
	#navigation.modern .columns ul li a,
	#navigation.modern .columns ul li button{ font-size:13px; font-weight: 500; }
	/* Mega menu and dropdown styles */
	#navigation.modern.dark-nav .columns .nav-menu ul.dropdown-menu.mega-menu li a{ color:#aaa; font-size: 14px; letter-spacing: 0.3px; font-weight: 500; text-transform: uppercase; }
	#navigation.modern.dark-nav .columns .nav-menu ul.dropdown-menu li a{ color: #aaa; font-size: 13px; font-weight: 500; text-transform: uppercase; letter-spacing: 0.3px; }


/* FERONIA TITLE */
	.page-title{ color:#6e6e6e; font-size:35px; margin:0 auto 24px; padding: 0; text-transform: uppercase;}
	.subtitle{ font-size: 25px; font-weight: normal; padding: 0; margin-top: 40px; }
	.description{ font-size: 18px; color:#666; line-height: 30px; max-width: 1000px; margin:30px auto 0; padding: 0; font-weight: 300; }
	.description.light-title{color:#ddd;}
	.page-title.light-title{ color:#d5d5d5; }
	.page-title.dark-title{ color:#4d4d4d; }
		@media only screen and (max-width: 640px){
			.page-title{ font-size:25px; margin:0 auto 30px;}
			.subtitle{ font-size: 18px; margin-top: 30px; }
			.description{ font-size: 16px; line-height: 25px; margin:20px auto 0; }
		}


/* FERONIA HOME */
	#home .box-slider-container{position: relative; width: 94%; bottom:40%; left:3%;}
	#home .home-boxes{position: absolute; width: 100%; height: auto; z-index: 30; margin:0 auto; }
	#home .home-boxes .item{background-color:rgba(26,26,26,0.5); padding:35px 25px 32px 15px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
	#home .home-boxes .item .number{width: 75px; line-height: 1; font-size:50px; padding-right: 15px; float: left; text-align: right; height: 100%;}
	#home .home-boxes .item .texts{width: 70%; width: calc(100% - 75px); }
	#home .home-boxes .item .texts h3{ font-size: 20px; margin:0; margin-bottom: 8px; text-transform: uppercase; padding: 0; }
	#home .home-boxes .item .texts p{ font-size: 16px;}
	#home .home-boxes .slick-arrow{background: transparent; border: none; position: absolute; color: white; bottom: -100px; left: 50%; width: 50px; height: 55px; opacity: 0.2; text-indent: -999px; overflow: hidden; background-position: center center; background-repeat: no-repeat; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
	#home:hover .home-boxes .slick-arrow{opacity: 1; }
	#home .home-boxes .slick-arrow.slick-prev{margin-left: -50px; background-image:url(../../../images/white-left-big.png); }
	#home .home-boxes .slick-arrow.slick-next{margin-right: -50px; background-image:url(../../../images/white-right-big.png); }

		@media only screen and (max-width: 1170px){
			#about{padding-left:15px; padding-right: 15px;}
		}
		@media only screen and (max-height: 860px){
			#home .home-boxes .slick-arrow{bottom:-60px;}
		}
		@media only screen and (max-width: 480px){
			#home .box-slider-container{bottom:37%;}
			#home .home-boxes .item{padding:22px 15px 25px 3px;}
			#home .home-boxes .item .texts h3{ font-size: 17px; margin-bottom: 8px; }
			#home .home-boxes .slick-arrow{width: 40px; height: 40px; background-size: 12px 26px; bottom:-50px;}
			#home .home-boxes .item .texts p{ font-size: 15px; line-height: 17px;}
		}
		@media only screen and (max-height: 500px){
			#home .box-slider-container{bottom:33%;}
			#home .home-boxes .slick-arrow{ display: none !important; }
			#home .home-boxes .item{ padding:15px 15px 15px 12px; }
			#home .home-boxes .item .texts h3{font-size: 14px;}
			#home .home-boxes .item .texts p{ font-size: 14px; line-height: 16px; }
		}

/* FERONIA ABOUT DETAILS */
	#about-details{position: relative; background:#fafafa; }
	#about-details #about_slider .carousel-inner{width: 68%; height: 450px; background:url(../images/about_01.jpg) left top no-repeat; background-size: cover; }
	#about-details #about_slider .carousel-inner .item{top:50%; position: absolute; padding:0 40px 0 70px;}
	#about-details #about_slider .carousel-inner .item h1{ font-size:45px; text-transform: uppercase; margin:0; }
	#about-details #about_slider .carousel-inner .item p{ font-size:17px; margin:30px 0; }
	#about-details #about_slider .carousel-inner .item a{ text-transform: uppercase; padding:8px 20px; }
	/* Image slider */
	#about_image_slider{position: absolute; float: right; right: 0; top:0; left: auto; width: 470px; height: 690px; z-index: 0; }
	#about_image_slider img{width: 100%; height: auto; }
	#about-details .carousel-control.image_slider_controls{position: absolute; top: auto; bottom: 3px; left: 68%; right: -65px; width: 60px; height: auto; line-height: 20px; padding:7px 0; text-align: center; text-shadow:none; background-image: none; opacity: 1; }
	#about-details .carousel-control.image_slider_controls.left{bottom:45px; }
	#about-details .carousel-control.about_slider_controls{position: absolute; top: -38px; bottom:auto; right:470px; left:auto; width: 60px; height: auto; line-height: 20px; padding:7px 0; text-align: center; text-shadow:none; background-image: none; opacity: 1; }
	#about-details .carousel-control.about_slider_controls.left{top:-74px; }
	#about-details:hover .carousel-control.image_slider_controls{background-color:rgba(44,44,44,0.2);}
	/* Topbox Icon */
	#about-details .topbox .topbox-icon{ float:left; width: 100px; height: 100px; line-height: 95px; font-size:35px; text-align: center; padding:0; margin:0;}
	#about-details .topbox .topbox-details{ padding-left:30px; }
	#about-details .topbox .topbox-title{ padding:0; margin:0 0 15px; }
	#about-details .topbox .topbox-description{ padding:0; margin:0; max-width: 500px; font-size:17px; line-height: 21px; }

		@media only screen and (max-width: 1000px){
			#about-details .topbox .description p{max-width: 290px !important; font-size:15px !important;}
		}
		@media only screen and (min-width: 860px) and (max-width: 1440px){
			#about-details .topbox .topbox-details{ max-width: 33%; }
		}
		@media only screen and (max-width: 860px){
			#about-details #about_slider .carousel-inner{width: 100%; background-size:cover !important;}
			#about-details #about_image_slider{position: relative; float:none; margin:20px auto 0; display: block !important;}
			#about-details .topbox{width: 70% !important; margin:0 auto !important;}
			#about-details .topbox .topbox-icon{float:none; margin:0 auto 20px;}
			#about-details .topbox .topbox-details{ text-align: center; padding-left:0; float:none !important;}
			#about-details .topbox .description{text-align: center; margin:0 auto; float: none; padding: 0 !important;}
			#about-details .topbox .description p{max-width: 100% !important;}
			#about-details .carousel-control{display: none;}
			#about-details{padding-bottom:0 !important;}
		}
		@media only screen and (max-width: 600px){
			#about-details #about_slider h1{font-size:35px !important;}
			#about-details #about_slider p{font-size:15px !important;}
			#about-details #about_slider a{font-size:12px;}
			#about_image_slider{width: 100%; height: auto;}
			#about-details #about_slider .carousel-inner .item{padding:0 15px 0 25px;}
		}
		@media only screen and (max-width: 360px){
			#about-details #about_slider h1{font-size:27px !important;}
		}
/* FERONIA ANIMATED SECTION */
	.feronia-amblem h1{font-size:55px;}
	.feronia-amblem h4{font-size:25px;}
		@media only screen and (max-width: 650px){
			.feronia-amblem h1{font-size:35px !important;}
			.feronia-amblem h4{font-size:18px !important;}
		}

/* FERONIA WORKS */
	#works .cbp-caption-activeWrap{ background-color:#212121; }
	#works .cbp-caption-activeWrap h2{ color:#b2b2b2; font-size:19px; margin:0; padding:0; margin-bottom:5px; }
	#works .cbp-caption-activeWrap p{ font-size:16px; margin:0; padding:0; }
	#works .cbp-item:hover .cbp-caption-defaultWrap{ transform: scale(1.0);}
	/* filters */
	#works #filters.cbp-l-filters-text .cbp-filter-item{font-family:inherit !important; font-size:17px; font-weight: 400; margin-top:70px;}


/* FERONIA SERVICES */
	.services-with-tabs-1 .service-filters>div{font-size: 18px; text-transform: uppercase; font-weight: 300; cursor: pointer; }
	.services-with-tabs-1 .service-filters>div p{display: inline-block; width: 95%; padding:15px 21px; color:#575757; letter-spacing: 1px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.services-with-tabs-1 .service-filters>div.cbp-filter-item-active p{color:white; }
	.services-with-tabs-1 .service-filters>div:hover p{background-color:#f3f3f3; }
	.services-with-tabs-1 .service-filters>div i{display: block; font-size: 25px; margin-bottom: 10px; }
	.services-with-tabs-1 .service-tabs .strip-btn-container{margin-top:30px; font-family: inherit;}
	.services-with-tabs-1 .service-tabs a.strip-button{ font-size:16px; }
	.services-with-tabs-1 .service-tabs .cbp-item{ max-width: 100%; }
	.services-with-tabs-1 .service-tabs .cbp-item.cbp-item-off{ display: block; visibility: hidden; opacity: 0; }
	.services-with-tabs-1 .service-tabs .cbp-item .slick-slide>img{ display: block; width: 100%; }
	.services-with-tabs-1 .service-tabs .cbp-item.cbp-item-off iframe {display: none;}
		@media only screen and (max-width: 800px){
			.services-with-tabs-1 .service-filters>div{width: 33.3% !important;}
		}
		@media only screen and (max-width: 470px){
			.services-with-tabs-1 .service-filters>div{width: 50% !important;}
		}

/* FERONIA TEAM */
	.team-type-2{ text-align: center; }
	.team-type-2 .custom-slider, .team-type-2.custom-slider{ margin-top: 50px; }
	.team-type-2 .member{ margin:0 15px; height: auto; position: relative; }
	.team-type-2 .member img{ width: 100%; height: auto; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
	.team-type-2 .member:hover img{ opacity: 0.35; }
	.team-type-2 .member .member-body{ background-color:#000; position: relative; }
	/* Progress Bars */
	.team-type-2 .member .team-progress{ position: absolute; bottom:25px; left:0; width: 100%; opacity: 0; overflow: hidden; }
	.team-type-2 .member .team-progress .prg-bg{ width: 100%; background-color:#e8e8e8; padding: 0; margin: 0; }
	.team-type-2 .member .team-progress .progress-bar{ height: 5px; padding:0; float: none; margin-top:15px; position: relative; left:0; min-width: 40%; box-shadow: none; }
	.team-type-2 .member:hover .team-progress{ opacity: 1; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }
	/* Progress Texts */
	.team-type-2 .member .team-progress h3{ font-size:16px; color:#666; margin-top: 30px; white-space: nowrap; font-weight: normal; text-transform: uppercase; padding: 0;}
	/* Member Description Texts */
	.team-type-2 .member .member-description h2{font-size: 22px; margin:0; padding:0; text-transform: uppercase;}
	.team-type-2 .member .member-description h4{font-size: 16px; margin:17px auto 14px; padding:0; text-transform: uppercase;}
	.team-type-2 .member .member-description p{font-size: inherit; line-height: 22px; margin:0; padding: 0;}
	/* Member Description Styles and hover */
	.team-type-2 .member .member-description{color:#858585; position: relative; width: 100%; height: auto; left:0; padding:20px 25px; opacity: 1; top: 0; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
	.team-type-2 .member:hover .member-description{ color: white; }
	/* Member Socials */
	.team-type-2 .member .member-socials{ position: absolute; bottom:0; height: 60px; left:0; width: 100%; text-align: center; overflow: hidden; }
	.team-type-2 .member .member-socials a{ display: block; width: 37px; height: 37px; line-height: 37px; color:#949596; margin:0 5px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.team-type-2 .member .member-socials div{ top:100%; position: relative; display: inline-block; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.team-type-2 .member:hover .member-socials div{ top:0; }
	.team-type-2 .member .member-socials a:hover{ color:white; }
	/* Member Social Delays */
	.team-type-2 .member:hover .member-socials div:nth-of-type(1){ -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(2){ -webkit-transition-delay: 0.4s; transition-delay: 0.4s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(3){ -webkit-transition-delay: 0.5s; transition-delay: 0.5s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(4){ -webkit-transition-delay: 0.6s; transition-delay: 0.6s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(5){ -webkit-transition-delay: 0.7s; transition-delay: 0.7s; }
	.team-type-2 .member:hover .member-socials div:nth-of-type(6){ -webkit-transition-delay: 0.8s; transition-delay: 0.8s; }
	#team .slick-dots li.slick-active button{ background-color:#607851 !important; }

/* Service With Tabs Light type */
	.services-with-tabs-1.light-type .service-filters>div p{color:white; }
	.services-with-tabs-1.light-type .service-filters>div.cbp-filter-item-active p{color:white; }
	.services-with-tabs-1.light-type .service-filters>div:hover p{background-color:#474747; }
	.services-with-tabs-1.light-type .service-tabs .cbp-item{ color:white; }
	.services-with-tabs-1 .service-filters > div.cbp-filter-item-active:hover p,
	.services-with-tabs-1 .service-filters > div.cbp-filter-item-active p{
		background-color:#586c48;
	}
