
<div class="cbp-loadMore-block1">

                    <!-- Item -->
                    <div class="cbp-item" data-animation="fadeIn" data-animation-delay="200">
                        <!-- Add Your Project URL -->
                        <a href="#" class="clearfix block qdr-modern-modal" data-toggle="modal" data-target="#modal-1">
                            <!-- Item IMG -->
                            <div class="item-img">
                                <!-- You can add right-X class for image position -->
                                <img src="content/coffee/images/menu_01.html" alt="table">
                            </div>
                            <!-- Details -->
                            <div class="item-details">
                                <!-- Name -->
                                <h4 class="allura colored2">Quadra Coffee</h4>
                                <!-- Title -->
                                <h2 class="colored2">Breakfast Menu With Tea</h2>
                                <!-- Description -->
                                <p class="gray6">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                </p>
                                <!-- Price -->
                                <div class="item-price white">7$</div>
                            </div>
                        </a>
                    </div>

                    <!-- Item -->
                    <div class="cbp-item" data-animation="fadeIn" data-animation-delay="200">
                        <!-- Add Your Project URL -->
                        <a href="#" class="clearfix block qdr-modern-modal" data-toggle="modal" data-target="#modal-1">
                            <!-- Item IMG -->
                            <div class="item-img">
                                <!-- You can add right-X class for image position -->
                                <img src="content/coffee/images/menu_02.html" alt="table">
                            </div>
                            <!-- Details -->
                            <div class="item-details">
                                <!-- Name -->
                                <h4 class="allura colored2">Quadra Coffee</h4>
                                <!-- Title -->
                                <h2 class="colored2">Healtly Menu</h2>
                                <!-- Description -->
                                <p class="gray6">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                </p>
                                <!-- Price -->
                                <div class="item-price white">8$</div>
                            </div>
                        </a>
                    </div>

                    <!-- Item -->
                    <div class="cbp-item" data-animation="fadeIn" data-animation-delay="200">
                        <!-- Add Your Project URL -->
                        <a href="#" class="clearfix block qdr-modern-modal" data-toggle="modal" data-target="#modal-1">
                            <!-- Item IMG -->
                            <div class="item-img">
                                <!-- You can add right-X class for image position -->
                                <img src="content/coffee/images/menu_03.html" alt="table" class="right-5">
                            </div>
                            <!-- Details -->
                            <div class="item-details">
                                <!-- Name -->
                                <h4 class="allura colored2">Quadra Coffee</h4>
                                <!-- Title -->
                                <h2 class="colored2">Buffet Breakfast</h2>
                                <!-- Description -->
                                <p class="gray6">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                     It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.  It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                </p>
                                <!-- Price -->
                                <div class="item-price white">12$</div>
                            </div>
                        </a>
                    </div>

                    <!-- Item -->
                    <div class="cbp-item" data-animation="fadeIn" data-animation-delay="200">
                        <!-- Add Your Project URL -->
                        <a href="#" class="clearfix block qdr-modern-modal" data-toggle="modal" data-target="#modal-1">
                            <!-- Item IMG -->
                            <div class="item-img">
                                <!-- You can add right-X class for image position -->
                                <img src="content/coffee/images/menu_04.html" alt="table">
                            </div>
                            <!-- Details -->
                            <div class="item-details">
                                <!-- Name -->
                                <h4 class="allura colored2">Quadra Coffee</h4>
                                <!-- Title -->
                                <h2 class="colored2">Pasta and Chicken</h2>
                                <!-- Description -->
                                <p class="gray6">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                </p>
                                <!-- Price -->
                                <div class="item-price white">15$</div>
                            </div>
                        </a>
                    </div>

    </div>


    <div class="cbp-loadMore-block2">

                    <!-- Item -->
                    <div class="cbp-item" data-animation="fadeIn" data-animation-delay="200">
                        <!-- Add Your Project URL -->
                        <a href="#" class="clearfix block qdr-modern-modal" data-toggle="modal" data-target="#modal-1">
                            <!-- Item IMG -->
                            <div class="item-img">
                                <!-- You can add right-X class for image position -->
                                <img src="content/coffee/images/menu_01.html" alt="table">
                            </div>
                            <!-- Details -->
                            <div class="item-details">
                                <!-- Name -->
                                <h4 class="allura colored2">Quadra Coffee</h4>
                                <!-- Title -->
                                <h2 class="colored2">Breakfast Menu With Tea</h2>
                                <!-- Description -->
                                <p class="gray6">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                </p>
                                <!-- Price -->
                                <div class="item-price white">7$</div>
                            </div>
                        </a>
                    </div>

                    <!-- Item -->
                    <div class="cbp-item active" data-animation="fadeIn" data-animation-delay="200">
                        <!-- Add Your Project URL -->
                        <a href="#" class="clearfix block qdr-modern-modal" data-toggle="modal" data-target="#modal-1">
                            <!-- Item IMG -->
                            <div class="item-img">
                                <!-- You can add right-X class for image position -->
                                <img src="content/coffee/images/menu_02.html" alt="table">
                            </div>
                            <!-- Details -->
                            <div class="item-details">
                                <!-- Name -->
                                <h4 class="allura colored2">Quadra Coffee</h4>
                                <!-- Title -->
                                <h2 class="colored2">Healtly Menu</h2>
                                <!-- Description -->
                                <p class="gray6">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                </p>
                                <!-- Price -->
                                <div class="item-price white">8$</div>
                            </div>
                        </a>
                    </div>

                    <!-- Item -->
                    <div class="cbp-item" data-animation="fadeIn" data-animation-delay="200">
                        <!-- Add Your Project URL -->
                        <a href="#" class="clearfix block qdr-modern-modal" data-toggle="modal" data-target="#modal-1">
                            <!-- Item IMG -->
                            <div class="item-img">
                                <!-- You can add right-X class for image position -->
                                <img src="content/coffee/images/menu_03.html" alt="table" class="right-5">
                            </div>
                            <!-- Details -->
                            <div class="item-details">
                                <!-- Name -->
                                <h4 class="allura colored2">Quadra Coffee</h4>
                                <!-- Title -->
                                <h2 class="colored2">Buffet Breakfast</h2>
                                <!-- Description -->
                                <p class="gray6">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                     It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.  It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                </p>
                                <!-- Price -->
                                <div class="item-price white">12$</div>
                            </div>
                        </a>
                    </div>

                    <!-- Item -->
                    <div class="cbp-item" data-animation="fadeIn" data-animation-delay="200">
                        <!-- Add Your Project URL -->
                        <a href="#" class="clearfix block qdr-modern-modal" data-toggle="modal" data-target="#modal-1">
                            <!-- Item IMG -->
                            <div class="item-img">
                                <!-- You can add right-X class for image position -->
                                <img src="content/coffee/images/menu_04.html" alt="table">
                            </div>
                            <!-- Details -->
                            <div class="item-details">
                                <!-- Name -->
                                <h4 class="allura colored2">Quadra Coffee</h4>
                                <!-- Title -->
                                <h2 class="colored2">Pasta and Chicken</h2>
                                <!-- Description -->
                                <p class="gray6">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots It has roots in a piece of clas from 45 BC, making it over 2000 years old.
                                </p>
                                <!-- Price -->
                                <div class="item-price white">15$</div>
                            </div>
                        </a>
                    </div>

    </div>
